/**
 * Contains responsive styling
 *
 * @author Pix & Hue
 */

/*-----------------------------------------------------------------------------------
TABLE OF CONTENTS: CSS Media Queries

1. Max-Width: 1150px
2. Max-Width: 1050px
3. Max-Width: 1000px
4. Max-Width: 768px
5. Max-Width: 545px
-----------------------------------------------------------------------------------*/

/* ------------------------------- 1. Max-Width: 1150px ------------------------------- */
@media only screen and (max-width: 1150px) {

	/* -- Global CSS Elements -- */
	#juliet-content-container.juliet_below_feature {
		margin-top: 0px;
	}
	.juliet-container {
		width: 1040px;
	}
	.juliet-default-width {
		width: 650px;
	}
	#juliet-content {
		padding: 40px 30px 20px 30px;
	}
	#juliet-sidebar {
		padding: 40px 30px 10px 0px;
	}
	#juliet-sidebar.juliet-left-sidebar {
		padding: 40px 0 10px 30px
	}
	#juliet_back_to_top {
		right: 20px;
		bottom: 20px;
	}
	.sticky .juliet-pin-it-border {
		top: 50px;
	}
	
	/* -- Header Elements -- */
	#juliet-nav-wrapper > .menu {
		max-width: 980px;
	}
	.is-sticky #juliet-nav-wrapper > .menu {
		max-width: 750px;
	}
	#juliet-featured-section, .juliet-feat-item {
		height: 500px;
	}
	.juliet-feat-img-top-title {
		font-size: 38px;
	}
	.juliet-feat-title-border {
		margin: 0;
		max-width: 900px;
	}
	.bx-wrapper .bx-controls-direction a {
		margin-top: -15px;
	}
	.bx-wrapper .bx-next {
		right: 35px;
	}
	.bx-wrapper .bx-prev {
		left: 35px;
	}

	/* -- Global Blog Styles -- */
	.juliet-blog-item .juliet-post-content {
		padding-bottom: 30px;
	}
	.juliet-blog-item .juliet-post-entry.juliet-no-post-img {
		border-top: 30px solid #EFECEA;
	}
	.juliet-full-width .juliet-blog-item .juliet-post-content {
		padding-bottom: 35px;
	}
	.juliet-full-width .juliet-blog-item .juliet-post-entry.juliet-no-post-img {
		border-top: 35px solid #EFECEA;
		margin: 0 auto;
	}

	/* -- Gallery Layout -- */
	.juliet-gallery-item {
		width: 315px;
		margin: 0px 17px 20px 0px;
	}
	.juliet-gallery-item.juliet-gal-end {
		margin-right: 0px;
	}

	/* -- Single Post -- */
	.juliet-full-width .single-juliet-post .juliet-post-entry {
		width: 840px;
	}
	.juliet-related-title:before, .juliet-related-title:after {
		width: 238px;
	}
	.juliet-full-width .juliet-related-title:before, .juliet-full-width .juliet-related-title:after {
		width: 403px;
	}

	/* -- WordPress Core -- */
	.juliet-blog-item.sticky .juliet-post-content {
		border-top: 15px solid #EFECEA;
	}
	.juliet-blog-item.sticky .juliet-post-content:before {
		margin-top: -2px;
	}
	.juliet-blog-item.sticky .juliet-post-entry.juliet-no-post-img {
		border-top: 50px solid #EFECEA;
	}
	.juliet-full-width .juliet-blog-item.sticky .juliet-post-entry.juliet-no-post-img {
		border-top: 55px solid #EFECEA;
	}

	/* -- Footer -- */
	#juliet-footer .instagram-pics li {
		height: 175px;
	}
}	

/* ------------------------------- 2. Max-Width: 1050px ------------------------------- */
@media only screen and (max-width: 1050px) {

	/* -- Global CSS Elements -- */
	.juliet-container {
		width: 1000px;
	}
	.juliet-default-width {
		width: 610px;
	}
	#juliet-content {
		padding: 30px 30px 20px 30px;
	}
	#juliet-sidebar {
		padding: 30px 30px 10px 0px;
	}
	#juliet-sidebar.juliet-left-sidebar {
		padding: 30px 0 10px 30px
	}
	
	/* -- Header Elements -- */
	#juliet-nav-wrapper > .menu {
		max-width: 940px;
	}
	.is-sticky #juliet-nav-wrapper > .menu {
		max-width: 700px;
	}
	#juliet-featured-section, .juliet-feat-item {
		height: 450px;
	}
	.juliet-feat-title-border {
		max-width: 840px;
	}
	.juliet-feat-img-top-title {
		font-size: 34px;
	}

	/* -- Global Blog Styles -- */
	.post,
	.search-results #juliet-content .juliet-blog-item.page,
	.search-results #juliet-content .juliet-blog-item.product,
	.search-results #juliet-content .juliet-block-layout.page {
		margin-bottom: 40px;
	}
	.juliet-block-layout.post:last-of-type,
	.juliet-blog-item.post:last-of-type {
		margin-bottom: 30px;
	}
	.juliet-full-width .juliet-post-excerpt-links,
	.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-excerpt-links {
		width: 70%;
	}
	.juliet-full-width  .juliet-no-footer-links .juliet-post-excerpt-links {
		width: 100%;
	}

	/* -- Blog Layout -- */
	.juliet-blog-item .juliet-post-entry {
		width: 480px;
	}
	.juliet-full-width .juliet-blog-item .juliet-post-entry {
		width: 800px;
	}
	.juliet-post-entry-right {
		width: 34%;
	}

	/* -- Block Layout -- */
	.juliet-block-layout .juliet-odd-row .juliet-post-media {
		padding-right: 25px;
	}
	.juliet-block-layout .juliet-even-row .juliet-post-media {
		padding-left: 25px;
	}
	.juliet-block-layout .juliet-post-entry {
		padding: 20px;
	}

	/* -- Gallery Layout -- */
	.juliet-gallery {
		margin-bottom: 10px;
	}
	.juliet-gallery-item {
		width: 295px;
		margin: 0px 20px 20px 0px;
	}
	.juliet-full-width .juliet-gallery-item {
		width: 300px;
	}

	/* -- Single Post -- */
	.single-juliet-post .juliet-post-entry {
		width: 500px;
		padding: 17px 30px 25px;
	}
	.juliet-full-width .single-juliet-post .juliet-post-entry {
		width: 820px;
	}
	.juliet-related-title:before, .juliet-related-title:after {
		width: 218px;
	}
	.juliet-full-width .juliet-related-title:before, 
	.juliet-full-width .juliet-related-title:after {
		width: 383px;
	}

	/* -- Single Page -- */
	.juliet-older a, .juliet-newer a {
		margin: 10px 0 20px;
	}

	/* -- Archive -- */
	.juliet-archive-box {
		padding-bottom: 15px;
	}

	/* -- Search Results -- */
	.search-results #juliet-content .juliet-block-layout.page,
	.search-results #juliet-content .juliet-blog-item.page {
		margin-bottom: 40px;
	}

	/* -- Footer -- */
	#juliet-footer .instagram-pics li {
		height: 165px;
	}
	.ph-copyright {
		margin: 0 10px;
	}

	/* -- External Plugins -- */ 
	.woocommerce .wc-proceed-to-checkout .checkout-button {
		width: 88%;
	}
	.juliet-full-width .woocommerce .wc-proceed-to-checkout .checkout-button {
		width: 92.5%;
	}	
}	


/* ------------------------------- 3. Max-Width: 1000px ------------------------------- */
@media only screen and (max-width: 1000px) {

	/* -- Global CSS Elements -- */
	.juliet-container, .juliet-default-width {
		width: 730px;
	}
	#juliet-content {
		padding: 20px 0;
	}
	#juliet-content.juliet-content-right {
		float: none;
	}
	#juliet-sidebar, 
	#juliet-sidebar.juliet-left-sidebar {
		width: 500px;
		float: none;
		margin: 0 auto;
		padding: 0 0 20px 0;
		clear: both;
	}

	/* -- Header Elements -- */
	.slicknav_menu {
		display: block;
	}
	#juliet-nav-wrapper-sticky-wrapper, #juliet-nav-wrapper {
		display: none;
	}
	#juliet-featured-section, .juliet-feat-item {
		height: 430px;
	}
	.juliet-feat-title-border {
		max-width: 600px;
	}
	.juliet-feat-img-top-title {
		font-size: 30px;
	}
	
	/* -- Global Blog Styles -- */
	.juliet-blog-item .juliet-post-content {
		padding-bottom: 35px;
	}
	.juliet-blog-item .juliet-post-entry,
	.juliet-full-width .juliet-blog-item .juliet-post-entry {
		width: 590px;
	}
	.juliet-blog-item .juliet-post-entry.juliet-no-post-img {
		border-top: 35px solid #EFECEA;
	}
	.juliet-full-width .juliet-post-excerpt-links,
	.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-excerpt-links {
		width: 55%;
	}
	.juliet-full-width .juliet-post-comment-count,
	.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-comment-count {
		width: 22.5%;
	}
	.juliet-full-width .juliet-post-share-buttons,
	.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-share-buttons {
		width: 22.5%;
	}
	.juliet-full-width .juliet-post-entry-left .juliet-post-excerpt-links {
		width: 100%;
	}

	/* -- Blog Layout -- */
	.juliet-mobile-post-header {
		display: block;
	}
	.juliet-post-entry-left-content .juliet-post-header {
		display: none;
	}
	/*.juliet-full-width .juliet-post-entry-left  {
		border-right: 1px solid #E5E5E5;
	}
	.juliet-full-width .juliet-post-entry-right {
		border: 0px;
	}*/
	.juliet-post-entry-left .juliet-post-excerpt {
		margin-bottom: 20px;
	}
	.juliet-post-entry-left .juliet-post-excerpt-links {
		float: none;
		width: 100%;
	}
	.juliet-post-entry-left .juliet-post-comment-count,
	.juliet-full-width .juliet-post-entry-left .juliet-post-comment-count {
		display: none;
	}
	.juliet-post-entry-left .juliet-post-comment-count.juliet-post-mobile-count,
	.juliet-full-width .juliet-post-entry-left .juliet-post-share-buttons {
		display: block;
		width: 100%;
		text-align: center;
		line-height: 1;
		padding: 8px 0 2px 0;
	}
	.juliet-post-entry-left .juliet-post-share-buttons {
		display: block;
		width: 100%;
		text-align: center;
		float: none;
		clear: both;
		line-height: 1;
	}
	.juliet-full-width .juliet-post-entry-left .juliet-post-share-buttons a:first-of-type {
		padding-left: 3px;
	}

	/* -- Block Layout -- */
	.juliet-block-layout .juliet-post-media,
	.juliet-block-layout .juliet-post-entry {
		display: block;
		width: 100%;
	}
	.juliet-block-layout .juliet-odd-row .juliet-post-media,
	.juliet-block-layout .juliet-even-row .juliet-post-media {
		padding: 0px;
	}
	.juliet-even-row .juliet-post-media {
		display: none;
	}
	.juliet-block-mobile-post-media,
	.juliet-even-row .juliet-block-mobile-post-media .juliet-post-media
	 {
		display: block;
	}
	.juliet-block-layout .juliet-post-entry {
		max-width: 650px;
		padding: 30px;
	}

	/* -- Gallery Layout -- */
	.juliet-gallery-item,
	.juliet-full-width .juliet-gallery-item {
		width: 355px;
		height: 455px;
	}
	.juliet-gallery-item:nth-of-type(even) {
		margin: 0px 0px 20px 0px;
	}
	.juliet-gallery-item:nth-of-type(odd) {
		margin: 0px 20px 20px 0px;
	}

	/* -- Single Post -- */
	.single-juliet-post.post {
		margin-bottom: 35px;
	}
	.juliet-default-width .single-juliet-post.post {
		margin-bottom: 20px;
	}
	.single-juliet-post .juliet-post-entry,
	.juliet-full-width .single-juliet-post .juliet-post-entry {
		width: 610px;
	}
	.juliet-post-author-box {
		padding: 10px 0 5px 0;
	}
	.juliet-author-content h5 {
		font-size: 14px;
		padding: 10px 0 7px 0;
	}
	.juliet-author-content p:first-of-type {
    	margin: 1px 0 10px;
	}
	.juliet-full-width .juliet-item-related:last-of-type {
		display: none;
	}
	.juliet-full-width .juliet-item-related {
		width: 32.3%;
	}
	.juliet-full-width .juliet-related-title:before, 
	.juliet-full-width .juliet-related-title:after,
	.juliet-related-title:before, 
	.juliet-related-title:after {
		width: 278px;
	}

	/* -- Comments -- */
	.juliet-full-width .comment-form input[type="submit"] {
		width: 97%;
	}

	/* -- Single Page -- */
	#juliet-content .page.juliet-single-page-no-footer {
		margin-bottom: 0px;
	}
	.type-page .juliet-post-footer {
		margin: 35px 0 0 0;
	}

	/* -- WordPress Core -- */
	.juliet-blog-item.sticky .juliet-post-entry.juliet-no-post-img {
		border-top: 55px solid #EFECEA;
	}
	
	/* -- Sidebar Widgets -- */
	.juliet_about_widget:after,
	.juliet_recent_posts_widget:after {
		width: 440px;
	}
	.juliet-about-widget p,
	.juliet-side-item-text {
		max-width: 385px;
	}

	/* -- Footer -- */
	#juliet-footer .instagram-pics li {
		height: 190px;
		width: 25%;
	}
	#juliet-footer .instagram-pics li:nth-of-type(5n), 
	#juliet-footer .instagram-pics li:nth-of-type(6n) {
		display: none;
	}
	
	/* -- External Plugins -- */
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 32.4%;
		margin: 0 10px 15px 0;
	}
	.woocommerce ul.products li.product:nth-child(2n), 
	.woocommerce-page ul.products li.product:nth-child(2n), 
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), 
	.woocommerce[class*=columns-] ul.products li.product:nth-child(2n) {
		float: left;
	}
	.woocommerce ul.products li.product:nth-child(3n+2), 
	.woocommerce-page ul.products li.product:nth-child(3n+2), 
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(3n+2), 
	.woocommerce[class*=columns-] ul.products li.product:nth-child(3n+2) {
		clear: none;
	}
	.woocommerce ul.products li.product:nth-child(3n+1), 
	.woocommerce-page ul.products li.product:nth-child(3n+1), 
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(3n+1), 
	.woocommerce[class*=columns-] ul.products li.product:nth-child(3n+1) {
		clear: left !important;
	}
	.woocommerce .cross-sells ul.products li.product:nth-child(3n+1)  {
		clear: none !important;
	}
	.woocommerce ul.products li.last, 
	.woocommerce-page ul.products li.last {
		margin: 0 0 10px 0;
		clear: none !important;
	}
	.woocommerce ul.products li.product a img {
		margin-bottom: 7px;
	}
	.woocommerce nav.woocommerce-pagination {
		margin-bottom: 20px;
	}
	.woocommerce span.onsale,
	.woocommerce .juliet-full-width span.onsale {
		left: 43%;
	}
	.woocommerce ul.products li.product .onsale {
		right: 7px;
	}
	.woocommerce div.product p.price {
		font-size: 17px;
	}
	.woocommerce form.login {
		margin: 0 0 5px;
	}
	.woocommerce #review_form #respond .form-submit,
	.woocommerce .juliet-full-width #review_form #respond .form-submit {
		width: 47.5%;
	}
	.woocommerce #payment #place_order, 
	.woocommerce-page #payment #place_order {
		margin: 0;
	}
	.woocommerce-product-search input {
		width: 85%;
	}
	.woocommerce .wc-proceed-to-checkout .checkout-button,
	.juliet-full-width .woocommerce .wc-proceed-to-checkout .checkout-button {
		width: 90.5%;
	}	
	.juliet-woo-footer {
		margin-bottom: 10px;
	}
	.juliet-full-width .wpcf7 input[type="submit"] {
		width: 97%;
	}
}

/* ------------------------------- 4. Max-Width: 768px ------------------------------- */
@media only screen and (max-width: 768px) { 
	
	/* -- Global CSS Elements -- */
	.juliet-container, .juliet-default-width {
		width: 500px;
	}

	/* -- Header Elements -- */
	.juliet-top-search-bar #juliet-searchform {
		display: none;
	}
	#juliet-featured-section, 
	.juliet-feat-item {
		height: 380px;
	}
	.juliet-feat-title-border {
		max-width: 500px;
	}
	.juliet-feat-img-top-title {
		font-size: 27px;
		max-width: 460px;
	}
	.bx-wrapper .bx-controls-direction a {
		display: none;
	}
	.juliet-the-triple-image {
		width: 100%;
		height: 80%;
		margin-bottom: 10px;
	}
	.juliet-the-triple-image.one, 
	.juliet-the-triple-image.two {
		margin-right: 0;
	}

	/* -- Global Blog Styles -- */
	.juliet-blog-item .juliet-post-content,
	.juliet-full-width .juliet-blog-item .juliet-post-content {
		padding-bottom: 30px;
	}
	.juliet-blog-item .juliet-post-entry, 
	.juliet-full-width .juliet-blog-item .juliet-post-entry  {
		width: 380px;
		padding: 30px;
		margin: -40px auto 0;
	}
	.juliet-full-post-content.juliet-full-no-footer .juliet-post-entry {
		width: 380px;
		padding: 30px 30px 10px;
	}
	.juliet-full-post-content.juliet-full-no-footer .juliet-post-tags {
		padding: 0 0 15px;
	}
	.juliet-blog-item .juliet-post-entry.juliet-no-post-img,
	.juliet-full-width .juliet-blog-item .juliet-post-entry.juliet-no-post-img {
		border-top: 30px solid #EFECEA;
	}
	.juliet-post-header {
		padding: 0 0 15px 0;
	}
	.juliet-post-header h1 a, .juliet-post-header h2 a {
		font-size: 20px;
		letter-spacing: 0px;
	}
	.juliet-post-excerpt,
	.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt {
		margin-bottom: 23px;
	}
	.juliet-post-excerpt-links,
	.juliet-full-width .juliet-post-excerpt-links,
	.juliet-full-width .juliet-block-layout .juliet-post-excerpt-links,
	.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-excerpt-links {
		width: 100%;
	}
	.juliet-post-comment-count {
		display: none;
	}
	.juliet-post-mobile-count,
	.juliet-full-width .juliet-post-mobile-count,
	.juliet-full-width .juliet-block-layout .juliet-post-mobile-count,
	.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-mobile-count,
	.juliet-post-share-buttons,
	.juliet-full-width .juliet-post-share-buttons,
	.juliet-full-width .juliet-block-layout .juliet-post-share-buttons,
	.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-share-buttons {
		display: block;
		width: 100%;
		text-align: center;
		line-height: 1;
		padding: 8px 0 2px 0;
	}
	.juliet-post-share-buttons a:first-of-type {
		padding-left: 2px;
	}
	.juliet-affiliate-title {
		margin: 25px 0 0 0;
	}
	.juliet-pin-it-border {
		font-size: 17px;
	}
	.juliet-pin-it-button {
		height: 29px;
		width: 29px;
		padding: 8px 15px 15px;
	}

	/* -- Blog Layout -- */
	.juliet-post-entry-left, 
	.juliet-full-width .juliet-post-entry-left {
		width: 100%;
	}
	.juliet-full-width .juliet-post-entry-left {
		border: 0px;
	}
	.juliet-post-entry-left-content {
		width: 100%;
	}
	.juliet-post-entry-right, 
	.juliet-full-width .juliet-post-entry-right {
		width: 100%;
		border-left: 0px;
	}
	.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt-border:before, 
	.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt-border:after, 
	.juliet-full-width .juliet-post-entry-left .juliet-post-excerpt-border:before, 
	.juliet-full-width .juliet-post-entry-left .juliet-post-excerpt-border:after {
		display: block;
	}
	.juliet-post-entry-right .juliet-affiliate-title {
		float: left;
		margin: 25px 0 0 0;
	}
	.juliet-affiliate-item {
		display: block;
		clear: both;
		border-top: 1px solid #E5E5E5;
		border-bottom: 1px solid #E5E5E5;
		padding: 10px 0;
	}

	/* -- Block Layout -- */
	.juliet-block-layout .juliet-post-entry {
		max-width: 420px;
	}

	/* -- Gallery Layout -- */
	.juliet-gallery-item,
	.juliet-full-width .juliet-gallery-item {
		width: 100%;
		height: 600px;
	}
	.juliet-gallery-item:nth-of-type(even),
	.juliet-gallery-item:nth-of-type(odd) {
		margin: 0 0 20px 0;
	}
	.juliet-gallery-title-border {
		max-width: 400px;
	}
	.juliet-gallery-title h2 {
		max-width: 390px;
	}

	/* -- Single Post -- */
	.single-juliet-post.post {
		margin-bottom: 25px;
	}
	.juliet-default-width .single-juliet-post.post {
		margin-bottom: 15px;
	}
	.single-juliet-post .juliet-post-header {
		padding: 20px 20px 15px;
	}
	.single-juliet-post .juliet-post-header h1 {
		font-size: 20px;
	}
	.single-juliet-post .juliet-post-entry-wrapper {
		margin-bottom: 30px;
	}
	.single-juliet-post .juliet-post-entry,
	.single-juliet-post .juliet-post-entry.juliet-no-post-img {
		width: 430px;
		padding: 15px 25px 20px;
		margin: -40px auto 0;
	}
	.single-juliet-post .juliet-post-entry.juliet-no-single-footer {
		padding: 15px 25px 10px;
	}
	.single-juliet-post .juliet-post-entry.juliet-no-post-img {
		margin: -13.5px auto 0;
	}
	.single-juliet-post .juliet-post-entry.juliet-no-single-footer.juliet-no-post-img {
		padding: 15px 25px 10px 25px;
		margin: -15px auto 0;
	}
	.juliet-full-width .single-juliet-post .juliet-post-entry {
		width: 430px;
	}
	.single-juliet-post .juliet-post-footer {
		padding-top: 10px;
	}
	.juliet-post-author-box {
		padding: 10px 0 0 0;
		margin: 30px 0 0 0;
	}
	.juliet-author-content h5 {
		padding: 5px 0 7px 0;
		max-width: 50%;
	}
	.single-juliet-post .juliet-post-comment-count.juliet-single-element {
		margin-top: -14px;
		text-align: center;
	}
	.juliet-related-posts {
		margin-top: 30px;
	}
	.juliet-item-related,
	.juliet-full-width .juliet-item-related {
		width: 100%;
	}
	.juliet-full-width .juliet-related-title:before, 
	.juliet-full-width .juliet-related-title:after, 
	.juliet-related-title:before, 
	.juliet-related-title:after {
		width: 163px;
	}
	.juliet-item-related-img {
		height: 300px;
	}

	/* -- Comments -- */
	.juliet-comment-form-comment textarea,
	.comment-form input {
		width: 100%;
		float: none;
	}
	.juliet-comment-form-comment {
		line-height: 1;
	}
	.comment-form .form-submit {
		width: 99.6%;
		float: none;
		margin: 0;
	}
	.comment-form input[type="submit"], .juliet-full-width .comment-form input[type="submit"] {
		width: 98%;
	}
	.juliet-comments-title {
		margin-top: 30px;
	}
	.juliet-comments-title.juliet-comm-no-author {
		margin-top: 25px;
	}
	.juliet-post-content ul.comments li:first-of-type,
	.juliet-page-content ul.comments li:first-of-type {
		margin-top: 30px;
	}
	.comment, 
	.pingback .thecomment {
		padding: 25px 0;
	}
	.comment-respond {
		margin-bottom: 25px;
	}
	.juliet-post-content ul.comments {
		margin-bottom: -20px;
	}
	.children .comment {
		margin-left: 35px;
	}
	.children .children .comment {
		margin-left: 70px;
	}

	/* -- Single Page -- */ 
	.type-page .juliet-post-footer.juliet-single-comm-count {
		margin: 25px 0 5px 0;
	}
	#juliet-content .page {
		margin-bottom: 10px;
	}

	/* -- WordPress Core -- */ 
	.juliet-blog-item.sticky .juliet-post-entry.juliet-no-post-img,
	.juliet-full-width .juliet-blog-item.sticky .juliet-post-entry.juliet-no-post-img {
		border-top: 50px solid #EFECEA;
	}
	blockquote {
		width: 95%;
	}
	blockquote p,
	.juliet-post-content .comment-text blockquote p,
	.juliet-page-content .comment-text blockquote p {
		padding-left: 27px;
	}
	blockquote p:before {
		font-size: 42px;
	}

	/* -- Footer -- */ 
	#juliet-footer .instagram-pics li {
		height: 175px;
		width: 33.333%;
	}
	#juliet-footer .instagram-pics li:nth-of-type(4n) {
		display: none;
	}
	#juliet-instagram-footer .null-instagram-feed p.clear {
		padding: 8px 10px 18px;
	}

	/* -- External Plugins -- */ 
	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 100%;
	}
	.woocommerce-MyAccount-content {
		padding: 0;
	}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product {
		width: 48.5%;
		margin: 0 15px 10px 0;
	}
	.woocommerce ul.products li.product:nth-child(2n), 
	.woocommerce-page ul.products li.product:nth-child(2n), 
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), 
	.woocommerce[class*=columns-] ul.products li.product:nth-child(2n) {
		margin-right: 0px;
	}
	.woocommerce ul.products li.product:nth-child(3n+1), 
	.woocommerce-page ul.products li.product:nth-child(3n+1), 
	.woocommerce-page[class*=columns-] ul.products li.product:nth-child(3n+1), 
	.woocommerce[class*=columns-] ul.products li.product:nth-child(3n+1) {
		clear: none !important;
	}
	.woocommerce .related ul.products li.product:nth-child(3n) {
		clear: left !important;
	}
	.woocommerce div.product div.images {
		margin-bottom: 10px;
	}
	.woocommerce span.onsale,
	.woocommerce .juliet-full-width span.onsale {
		left: auto;
		right: 2px;
	}
	.woocommerce .quantity .qty, 
	.woocommerce .cart_item .quantity .qty {
		padding: 11.8px 4px;
		margin-top: -4px;
	}
	.woocommerce #review_form #respond textarea {
		width: 100%;
		float: none;
		height: 100px;
		margin: 0;
	}
	_:-ms-fullscreen, :root .woocommerce #review_form #respond p.comment-form-author {
		margin-top: 5px;
	}
	.woocommerce #review_form #respond .form-submit,
	.woocommerce .juliet-full-width #review_form #respond .form-submit {
		width: 97.5%;
		float: none;
		margin: 0;
	}
	.wc-proceed-to-checkout {
		width: 99%;
	}
	.woocommerce-info {
		margin-bottom: 20px !important;
	}
	.woocommerce-shipping-fields {
		margin-bottom: 20px;
	}
	.woocommerce .wc-proceed-to-checkout .checkout-button,
	.juliet-full-width .woocommerce .wc-proceed-to-checkout .checkout-button {
		width: 94%;
	}	
	.wpcf7 input, .wpcf7 textarea {
		width: 100%;
		max-width: 100%;
	}
	.wpcf7-submit-border {
		width: 99%;
	}
	.wpcf7 input[type="submit"], 
	.juliet-full-width .wpcf7 input[type="submit"] {
		width: 98%;
	}
	.juliet-custom-wpcf7 .wpcf7-submit-border {
		margin: 3px 0 0 0;
		display: block;
		width: 99.5%;
	} 
	.wpcf7-form.invalid .juliet-custom-wpcf7 .wpcf7-submit-border {
		margin: 0;
	}
}	

/* ------------------------------- 5. Max-Width: 545px ------------------------------- */
@media only screen and (max-width: 545px) { 

	/* -- Global CSS Elements -- */
	.juliet-container, .juliet-default-width {
		width: 300px;
	}
	#juliet-sidebar, 
	#juliet-sidebar.juliet-left-sidebar {
		width: 300px;
	}	

	/* -- Header Elements -- */
	#juliet-top-bar {
		height: auto;
		min-height: 40px;
	}
	.juliet-top-social {
		margin-left: 20px;
		max-width: 220px;
	}
	.juliet-top-cart-icon {
		margin: 0 35px 0 0;
	}
	.juliet-top-cart-icon:before {
		right: 70px;
	}
	.juliet-count-val {
		right: 20px;
	}
	.juliet-site-logo {
		padding: 15px 0;
	}
	.juliet-site-logo img {
		max-width: 250px;
	}
	#juliet-featured-section, 
	.juliet-feat-item {
		height: 300px;
	}
	.juliet-feat-title-border {
		margin: 0 auto;
		max-width: 300px;
	}
	.juliet-feat-img-top-title {
		font-size: 20px;
		max-width: 250px;
	}

	/* -- Global Blog Styles -- */
	.juliet-post-header {
		padding: 0 0 10px 0;
	}
	.juliet-post-header h1 a, 
	.juliet-post-header h2 a {
		font-size: 19px;
		line-height: 1.2;
	}
	.juliet-post-excerpt,
	.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt {
		margin-bottom: 18px;
	}
	.juliet-affiliate-title,
	.juliet-post-entry-right .juliet-affiliate-title {
		float: none;
	}
	.juliet-affiliate-widget,
	.juliet-affiliate-item {
		margin-top: -2px;
	}
	_:-ms-fullscreen, :root .juliet-affiliate-item,
	_:-ms-fullscreen, :root .juliet-affiliate-widget {
		margin-top: -1px;
	}
	.juliet-post-comment-count.juliet-single-element {
		padding: 7px 0 2px 0;
	}
	.juliet-pin-it-border {
		font-size: 15px;
		left: 17px;
		top: 17px;
	}
	.juliet-pin-it-button {
		height: 25px;
		width: 50px;
		padding: 8px 5px 0px;
	}
	/*.juliet-post-entry .juliet-pin-it-border,
	.juliet-page-content .juliet-pin-it-border {
		top: 20px;
	}
	.juliet-pin-image-caption .juliet-pin-it-border,
	.juliet-page-content .juliet-page-img .juliet-pin-it-border {
		left: 17px;
		top: 17px;
	}*/
	

	/* -- Blog Layout -- */
	.juliet-blog-item .juliet-post-content, 
	.juliet-full-width .juliet-blog-item .juliet-post-content {
		padding-bottom: 10px;
	}
	.juliet-blog-item .juliet-post-entry, 
	.juliet-full-width .juliet-blog-item .juliet-post-entry {
		width: 250px;
		padding: 15px;
		margin: -30px auto 0;
		overflow: hidden;
	}
	.juliet-full-post-content.juliet-full-no-footer .juliet-post-entry {
		width: 250px;
		padding: 15px 15px 5px;
	}
	.juliet-blog-item .juliet-post-entry.juliet-no-post-img, 
	.juliet-full-width .juliet-blog-item .juliet-post-entry.juliet-no-post-img {
		border-top: 10px solid #EFECEA;
	}
	.juliet-full-post-content .juliet-post-comment-count.juliet-single-element {
		margin-top: -7px;
	}

	/* -- Block Layout -- */
	.juliet-block-layout .juliet-post-entry {
		max-width: 250px;
		padding: 15px;
	}
	.juliet-block-layout .juliet-no-footer-links .juliet-post-excerpt-links {
		margin-bottom: 10px;
	}

	/* -- Gallery Layout -- */
	.juliet-gallery-item,
	.juliet-full-width .juliet-gallery-item {
		height: 385px;
	}
	.juliet-gallery-title-border {
		max-width: 230px;
	}
	.juliet-gallery-title h2 {
		max-width: 210px;
	}

	/* -- Single Post -- */
	.single-juliet-post.post {
		margin-bottom: 20px;
	}
	.juliet-default-width .single-juliet-post.post {
		margin-bottom: 10px;
	}
	.single-juliet-post .juliet-post-entry,
	.juliet-full-width .single-juliet-post .juliet-post-entry,
	.single-juliet-post .juliet-post-entry.juliet-no-post-img {
		width: 250px;
		padding: 10px 15px;
		margin: -30px auto 0;
		overflow: hidden;
	}
	.single-juliet-post .juliet-post-entry.juliet-no-post-img {
		padding: 10px 15px 20px;
		margin: -10px auto 0;
	}
	.single-juliet-post .juliet-post-entry.juliet-no-single-footer,
	.single-juliet-post .juliet-post-entry.juliet-no-single-footer.juliet-no-post-img  {
		padding: 10px 15px 5px;
		width: 250px;
		margin: -15px auto 0;
		overflow: hidden;
	}
	.single-juliet-post .juliet-post-entry.juliet-no-single-footer.juliet-no-post-img {
		margin: -10px auto 0;
	}
	.single-juliet-post .juliet-post-header h1 {
		font-size: 19px;
		line-height: 1.2;
		padding: 0 0 4px 0;
	}
	.single-juliet-post .juliet-post-entry-wrapper {
		margin-bottom: 25px;
	}
	.juliet-post-tags {
		padding: 0 0 5px;
		margin: 0 0 10px;
	}
	.single-juliet-post .juliet-post-footer,
	.juliet-full-post-content .juliet-post-footer {
		padding: 5px 0;
	}
	.single-juliet-post .juliet-post-footer.juliet-single-element,
	.single-juliet-post .juliet-post-excerpt-links.juliet-single-element {
		padding: 0;
	}
	.single-juliet-post .juliet-post-comment-count.juliet-single-element {
		margin: -4px 0 5px;
	}
	.juliet-post-pagination a {
		letter-spacing: 0px;
	}
	.juliet-post-author-box {
		margin: 25px 0 0 0;
	}
	.juliet-author-img {
		margin-right: 10px;
	}
	.juliet-author-content h5 {
		display: block;
		padding: 5px 0;
		margin-bottom: 0px;
		max-width: 100%;
	}
	.juliet-related-posts {
		margin-top: 25px;
	}
	.juliet-related-title {
		padding: 9px;
	}
	.juliet-full-width .juliet-related-title:before, 
	.juliet-full-width .juliet-related-title:after, 
	.juliet-related-title:before, .juliet-related-title:after {
		width: 62px;
	}
	.juliet-item-related-img {
		height: 175px;
	}

	/* -- Single Page -- */
	.juliet-template-title,
	.juliet-page-header h1 {
		text-align: center;
		font-size: 27px;
	}

	/* -- Archive -- */
	.juliet-archive-box {
		padding-bottom: 10px;
	}

	/* -- Comments -- */
	.comment-form .form-submit {
		width: 99%;
	}
	.comment-form input[type="submit"], .juliet-full-width .comment-form input[type="submit"] {
		width: 97%;
	}
	.juliet-comments-title {
		margin-top: 25px;
	}
	.juliet-comments-title.juliet-single-page-no-footer {
		margin-top: 5px;
	}
	.juliet-post-content ul.comments li:first-of-type,
	.juliet-page-content ul.comments li:first-of-type {
		margin-top: 25px;
	}
	.children .comment,
	.children .children .comment {
		margin-left: 0px;
	}

	/* -- Single Page -- */ 
	.type-page .juliet-post-footer {
		margin: 30px 0 0 0;
	}

	/* -- WordPress Core -- */ 
	.juliet-blog-item.sticky .juliet-post-content {
		border-top: 10px solid #EFECEA;
	}
	.juliet-blog-item.sticky .juliet-post-entry.juliet-no-post-img, 
	.juliet-full-width .juliet-blog-item.sticky .juliet-post-entry.juliet-no-post-img {
		border-top: 35px solid #EFECEA;
	}
	.juliet-blog-item.sticky:before {
		border-bottom: 10px solid #EFECEA;
	}
	.juliet-blog-item.sticky .juliet-post-content:before {
		margin-top: 2px;
	}
	blockquote p,
	.juliet-post-content .comment-text blockquote p,
	.juliet-page-content .comment-text blockquote p {
		padding-left: 25px;
	}
	blockquote p:before {
		font-size: 40px;
	}
	.more-link {
		display: block;
		width: 130px;
		margin: 5px auto;
		text-align: center;
	}
	.more-link:after {
		width: 148px;
	}

	/* -- Sidebar -- */ 
	.juliet_about_widget:after, 
	.juliet_recent_posts_widget:after {
		width: 240px;
	}
	.juliet-about-widget p,
	.juliet-side-item-text {
		max-width: 200px;
	}

	/* -- Footer -- */
	#juliet-footer .instagram-pics li {
		height: 105px;
	}
	#juliet-instagram-footer .null-instagram-feed p.clear {
		display: none;
	}
	.ph-marketing {
		display: block;
		clear: both;
	}

	/* -- External Plugins -- */ 
	.woocommerce .page-title,
	.woocommerce-account h2 {
		text-align: center;
	}
	.woocommerce .woocommerce-result-count,
	.woocommerce .woocommerce-ordering, 
	.woocommerce-page .woocommerce-ordering {
		float: none;
		width: 98%;
		margin: 7px auto;
	}
	.woocommerce ul.products li.product, 
	.woocommerce-page ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li, 
	.woocommerce-page .cart-collaterals .cross-sells ul.products li {
		width: 98%;
		margin: 0 auto 10px;
	}
	.woocommerce div.product div.summary {
		margin-bottom: 25px;
	}
	.woocommerce #review_form #respond .form-submit,
	.woocommerce .juliet-full-width #review_form #respond .form-submit {
		width: 96%;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		padding-left: 0px;
		border-left: 1px solid #d3ced2;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding: 0px 10px;
		width: 90%;
		border: 1px solid #E5E5E5;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:last-of-type {
		border-bottom: 1px solid #E5E5E5;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:before, 
	.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
	.woocommerce div.product .woocommerce-tabs ul.tabs:before {
		display: none;
	}
	.wc-proceed-to-checkout {
		width: 98%;
	}
	.woocommerce-checkout h3 {
		font-size: 20px;
		line-height: 1.3;
	}
	.woocommerce ul.products li.product .onsale {
		right: 8px;
	}
	.juliet-woo-footer {
		margin-bottom: 5px;
	}
	.woocommerce-product-search input {
		width: 77%;
	}
	.woocommerce table.shop_attributes th {
		width: 100px;
	}
	.woocommerce table.shop_table td {
		padding: 6px 9px;
	}
	.woocommerce form.checkout_coupon  .form-row-last {
		width: 42%;
	}
	.woocommerce .wc-proceed-to-checkout .checkout-button,
	.juliet-full-width .woocommerce .wc-proceed-to-checkout .checkout-button {
		width: 90.5%;
	}
	.wpcf7 input[type="submit"], .juliet-full-width .wpcf7 input[type="submit"] {
		width: 97%;
	}
	.juliet-custom-wpcf7 .wpcf7-submit-border {
		width: 99.25%;
	} 
}	