/**
 * Contains the styling for the theme custom pages
 * Custom pages include: feat image, feat slider, and triple images.
 *
 * @author Pix & Hue
 */

/****************************************/
/*Custom Page Features
/****************************************/
.juliet-custom-features {
	max-width: 775px;
	width: 775px;
	margin-top: 35px;
}
.juliet-custom-features h2 {
	display: inline;
	font-size: 25px;
}
.juliet-no-custom-features {
	padding: 25px;
	margin-top: 40px;
	background-color: #fff;
	border: 1px solid lightgrey;
}
.juliet-no-custom-features p {
	font-size: 18px;
	color: grey;
}
.juliet-create-custom-feature {
	float: right;
	padding: 10px 15px;
	background-color: #3a7e7c;
	color: #fff;
	border-radius: 4px;
	font-size: 14px;
	margin-top: -5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
}
.juliet-create-custom-feature:hover {
	cursor: pointer;
	background-color: #232020;
}
.juliet-custom-feature-wrapper {
	margin-top: 20px;
}
.juliet-custom-feature-wrapper:first-of-type {
	margin-top: 35px;
}

/****************************************/
/* Dialog Box (General)
/****************************************/
.juliet-dialog-box-wrapper {
	display: none;
}
.juliet_options_dialog.ui-dialog {
	padding: 7px;
	border-radius: 9px;
	font-size: 14px;
	z-index: 2;
	background: lightgrey;
}
.juliet_options_dialog .ui-dialog-titlebar {
	background: #232020;
}
.juliet_options_dialog .ui-dialog-title {
	text-shadow: 0 0 1px #2d5f88;
	font-weight: bold;
	padding: 0px 30px 0px 10px;
	line-height: 36px;
	min-height: 35px;
	color: #fff;
	max-width: 90%;
}
.juliet_options_dialog .ui-dialog-titlebar-close {
	float: right;
	margin: 5px 5px 0 0;
	background-color: #c82430;
	color: #fff;
	font-weight: bold;
	border: 1px solid #c82430;
	cursor: pointer;
	outline: none;
}
.juliet_options_dialog .ui-dialog-content {
	background-color: #fff;
	border-radius: 0px 0px 6px 6px;
	border-top: 1px solid #bec4ca;
	padding: 20px;
	overflow: auto;
}
.juliet_options_dialog .ui-dialog-buttonpane {
	background-color: #fff;
	margin-top: -5px;
	border-top: 1px dotted #CCC;
	padding: 15px 20px;
	min-height: 30px;
}
.juliet_options_dialog .ui-dialog-buttonset .ui-button {
	float: right;
	margin-right: 25px;
	padding: 7px;
}
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: .7;
	width: 100%;
	height: 100%;
}

/****************************************/
/* Dialog Box - Add
/****************************************/
.juliet_options_dialog input[type="text"] {
	width: 80%;
	margin: 0px 0px 15px 5px;
	line-height: 25px;
}
.juliet-custom-feature-add-button {
	float: right;
	background-color: #3c7e3a;
	color: #fff;
	border: none;	
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
	padding: 5px 10px;
	outline: none;
}
.juliet-custom-feature-add-button:hover {
	cursor: pointer;
	background-color: #1f6743;
}

/****************************************/
/* Dialog Box - Delete
/****************************************/
.juliet-custom-cancel-delete, .juliet-custom-confirm-delete {
	background-color: lightgrey;
	border: 1px solid grey;
	border-radius: 4px;
	padding: 7px 10px;
	float: right;
	margin-left: 15px;
	outline: none;
}
.juliet-custom-confirm-delete{
	background-color: #c82430;
	color: #fff;
}
.juliet-custom-cancel-delete:hover, .juliet-custom-confirm-delete:hover {
	cursor: pointer;
	background-color: grey;
	color: #fff;
}

/****************************************/
/* Features Header
/****************************************/
.juliet-custom-feature-header {
	background-color: #232020;
	color: #fff;
	padding: 15px 15px 18px 35px;
	font-size: 16px;
	text-transform: capitalize;
	overflow: auto;
	margin-bottom: 20px;
}
.juliet-custom-feature-header:hover {
	cursor: pointer;
	background-color: #3a5e7e;
}
.juliet-animate-triangle {
	height: 20px;
	width: 20px;
	display: inline-block;
	float:left;
	padding-top: 5px;
	margin-right: 7px;
}
.juliet-animate-triangle.expanded {
	background: url('../../images/options/open_triangle.png') center;
	background-repeat: no-repeat;
	margin-top: 2px;
}
.juliet-animate-triangle.collapsed {
	background: url('../../images/options/closed_triangle.png') center;
	background-repeat: no-repeat;
	margin-top: -3px;
}
.juliet-custom-feature-title {
	padding-top: 3px;
	margin: 0;
	display: inline-block;
	float: left;
	color: #fff;
	font-size: 18px;
}
.juliet-custom-feature-header:hover, .juliet-custom-feature-delete:hover {
	cursor: pointer;
}
.juliet-custom-feature-delete {
	float: right;
	background-color: #932528;
	line-height: 1;
	color: #fff;
	border: none;
	padding: 5px 10px;
	outline: none;
}
.juliet-custom-feature-delete:hover {
	background-color: #74241b;
}

/****************************************/
/* Features Form (Body)
/****************************************/	
.juliet-custom-feature-form {
	background-color: #fff;
	border: 1px solid lightgrey;
	padding: 20px 30px 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
	overflow: auto;
	margin-bottom:20px;
}
.juliet-custom-page-row {
	overflow: auto;
	padding: 0px;
	border: 2px solid #000;
	margin-bottom: 20px;
}
.juliet-custom-page-row:last-of-type {
	border: none;
	margin: 0;
}
.juliet-custom-page-row.feat_post_ids {
	display: none;
}
.juliet-custom-item-number {
	text-transform: uppercase;
	color: #232020;
	font-size: 15px;
	text-align: center;
	background-color: #e5e9ec;
	padding: 10px 0px;
	margin: 0px;
}
.juliet-custom-two-column {
	float: left;
	padding: 10px 0px 20px 25px;
}
.juliet-custom-two-column:nth-of-type(odd){
	width: 42%;
	clear: both;
}
.juliet-custom-two-column:nth-of-type(even) {
	width: 50%;
}
.feat_post_ids .juliet-custom-two-column {
	width: 70%;
}
.juliet-custom-feature-form h5 {
	margin-bottom: 5px;
	font-size: 14px;
}
.juliet-custom-feature-form input[type='text'], .juliet-custom-feature-form select {
	width: 85%;
	line-height: 25px;
	height: 35px;
	color: #656565;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07) inset, 0 1px 0 #fff;
	border-radius: 3px;
}
.juliet-custom-feature-form .upload_img_wrapper {
	position: relative;
	float: left;
}
.juliet-custom-feature-form .upload_img_wrapper img {
	border: 2px solid lightgrey;
}
.juliet-upload-button {
	margin-top: 10px;
	background-color: #f7f7f7;
	color: #232020;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
}
.juliet-upload-button {
	cursor: pointer;
}
.juliet-remove-upload-button {
	position: absolute;
	background: lightgrey;
	color: #232020;
	top: 0;
	right: 0;
	border: none;
	padding: 5px 10px;
	display: none;
}
.juliet-remove-upload-button:hover {
	background: #932528;
	color: #fff;
	cursor: pointer;
}
.box-shape-field {
	background-color: #e5e9ec;
	border: 2px solid #000;
	overflow: hidden;
}
.box-shape-field .juliet-custom-two-column {
	width: 100%;
}
.box-shape-field h5 {
	width: 45%;
	float: left;
	margin-top: 17px;
}
.box-shape-field select {
	width: 45%;
	margin-top: 10px;
}
.juliet-custom-feature-form .url_note {
	font-style: italic;
	margin-top: 0px;
	color: #c54287;
	padding-left: 5px;
}

/******************************************/
/* Features Footer - Update & Notifications 
/******************************************/	
.juliet-custom-feature-update {
	float: right;
	background-color: #3c7e3a;
	color: #fff;
	border: none;
	padding: 10px 15px;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
	outline: none;
}
.juliet-custom-feature-update:hover {
	background-color: #1f6743;
	cursor: pointer;
}
.juliet-custom-page-row.footer .custom-page-options-loader {
	background: url('../../images/options/options.gif') 50% 50% no-repeat rgb(255, 255, 255);
	height: 25px;
	width: 25px;
	float: right;
	margin: 8px 25px 0 0;
	display: none;
}
.juliet-custom-page-row.footer .options-message {
	float: left;
	display: inline;
	display: none;
	font-weight: bold;
}
.juliet-custom-save-reminder, .juliet-custom-success-message {
	color: green;
}
.juliet-custom-error-message {
	color: red;
}