/**
 * Contains the styling for the Page/Post meta boxes
 *
 * @author Pix & Hue
 */

/****************************************/
/* Meta Boxes - General
/****************************************/
.juliet-meta-option-section {
	border-bottom: 1px solid #E7E7E7;
	box-shadow: 0 1px 0 0 #FFFFFF;
	padding: 0 10px 15px 10px;
	margin: 15px 0;
}
.juliet-meta-option-heading {
	background: #e5e9ec;
	font-size: 14px;
	margin: 10px 0;
	padding: 10px 0;
	color: #333;
	text-align: center;
	text-transform: capitalize;
}
.juliet-meta-option {
	padding: 0 30px 20px 30px;
	overflow: hidden;
}
.juliet-meta-option-half-column {
	width: 47%;
	float: left;
	margin-right: 3%;
	padding: 5px 0;
}
.juliet-meta-option-full-column {
	clear: both;
	padding-top: 10px;
}
.juliet-meta-option select, .juliet-meta-option input[type="text"]  {
	font-size: 12px;
	width: 98%;
	height: 32px;
	border-radius: 3px;
}
.juliet-meta-option .url_note {
	margin: 10px 0 0 0;
	font-style: italic;
	color: #c54287;
}
.juliet-meta-option .upload_img_wrapper {
	width: 250px;
	position: relative;
}
#juliet-cat-selection, #juliet-blog-selection, #juliet-affiliate-content, #juliet-affiliate-code-section {
	display: none;
}
#juliet-cat-selection .juliet-meta-option-half-column:nth-of-type(2)  {
	clear: both;
}

/****************************************/
/* Meta Boxes - Categories
/****************************************/
.juliet_customcategory{display: none;}