/**
 * Contains the styling for the main theme options page.
 *
 * @author Pix & Hue
 */

a:focus, a:active {
 	box-shadow:none;
 }
/****************************************/
/* Theme Options
/****************************************/
#juliet_options_box {
	width: 655px;
	height: auto;
	margin: 40px 40px 0 30px;
	float: left;
}
#juliet_theme_extras {
	float: left;
	width: 300px;
	margin: 105px 0 0 0;
	border: 3px solid grey;
	background: #fff;
	padding: 20px 30px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(105,105,105,1);
	-moz-box-shadow: 5px 5px 5px 0px rgba(105,105,105,1);
	box-shadow: 5px 5px 5px 0px rgba(105,105,105,1);
}
/****************************************/
/* Theme Options Nav
/****************************************/
#juliet_options_nav {
	float: left;
	width: auto;
	background: #3a5e7e;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
	margin-left: 1px;
	border-bottom: 4px solid #fff;
}
#juliet_options_nav ul, #juliet_options_nav li {
	margin: 0px;
}
#juliet_options_nav li {
	display: inline-block;
	float:left;
	padding: 10px 15px;
	max-width: 75px;
	border-right: 2px solid #fff;
}
#juliet_options_nav li:hover {
	background-color: #000;
}
#juliet_options_nav li.active-li {
	background-color: #000;
}
#juliet_options_nav a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	line-height: 1.3;
	display: block;
	text-align: center;
	padding: 3px 0;
	letter-spacing: .5px;
}

/****************************************/
/* Theme Options Container
/****************************************/
#juliet_options_container {
	width: 650px;
	border: 2px solid grey;
	background-color:#fafafa;
	padding-bottom: 40px;
	clear: both;
	position: relative;
}
.juliet_options_overlay {
	position: absolute;
	background: rgba(0,0,0,.2);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}
#juliet_options_container tr {
	box-shadow: 0 1px 0 0 #fff;
	height: 75px;
	border-bottom: 1px solid #e7e7e7;
}
#juliet_options_container tr:last-of-type {
	border: none;
}
#juliet_options_container th {
	padding-left: 55px;
}
#juliet_options_container h2, .option-description {
	text-align: center;
	background-color: #000;
	color: #fff;
	margin: 0;
}
#juliet_options_container h2 {
	padding: 22px 0 20px 0;
	font-size: 24px;
}
#juliet_options_container .option-description {
	font-style: italic;
	font-size: 15px;
	padding-bottom: 25px;
	margin-bottom: 20px;
}
#juliet_options_container .options-tab {
   display:none;     
}
#juliet_options_container .options-tab.active {
    display:block;
}
#juliet_options_container #tab1 th {
	width: 220px;
	padding-top: 30px;
}
#juliet_options_container #tab2 th {
	width: 125px;
	padding-top: 25px;
}
#juliet_options_container #tab2 td {
 	padding-left: 40px;
 }
#juliet_options_container #tab3 th, 
#juliet_options_container #tab4 th, 
#juliet_options_container #tab5 th,
#juliet_options_container #tab6 th  {
	width: 300px;
}
#juliet_options_container #tab4 td {
	width: 350px;
}
#juliet_options_container #tab3 td, 
#juliet_options_container #tab4 th, 
#juliet_options_container #tab5 td,
#juliet_options_container #tab6 td {
	padding-left: 50px;
}
#juliet_options_container input[type="text"], #juliet_options_container select  {
	width: 70%;
	line-height: 30px;
	color: #656565;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07) inset, 0 1px 0 #fff;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
}
#tab1 input[type="text"] {
	width: 90%;
}
#juliet_options_container .checkbox-toggle {
	height: 19px;
	width: 27px;
	font-size:15px;
	padding: 6px 9px;
	background-color: lightgrey;
	color: #ffffff;
	position: relative;
	border-radius: 10px 0 0 10px;
	margin: 0;
	float: left;
	border: 3px solid #b4b9be
}
#juliet_options_container .checkbox-toggle:hover {
	cursor: pointer;
}
.checkbox-toggle-off:focus {
	outline: 0;
}
#juliet_options_container .checkbox-toggle-off {
	background-color: #932528;
	display:inline-block;
	border-radius: 0 10px 10px 0;
	border: 3px solid #b4b9be;
	border-left: 0px;
}
#juliet_options_container input[type="checkbox"] {
	display: none;
}
.juliet-option-upload-button {
	margin-top: 10px;
	background-color: #f7f7f7;
	color: #232020;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}
.juliet-option-remove-upload-button {
	position: absolute;
	background: lightgrey;
	color: #232020;
	top: 0;
	right: 0;
	border: none;
	padding: 5px 10px;
	display: none;
	cursor: pointer;
}
#juliet_options_container .url-note {
	color: grey;
	font-size: 12px;
	font-style: italic;
}


/****************************************/
/* Tab#1 - Theme Options
/****************************************/
#tab1 .upload_img_wrapper {
	position: relative;
}
#tab1 .juliet-option-remove-upload-button {
	top: 0px;
	right: 0px;
}

/****************************************/
/* Theme Options Footer
/****************************************/
#juliet_options_footer {
	width: 650px;
	float: left;
	height: 75px;
	background-color: #fafafa;
	border: 2px solid grey;
	border-top: none;
}	
#juliet_options_footer p.submit {
	float: right;
	margin: 10px 15px 0 5px;
	padding: 7px 10px;
	border-radius: 5px;
}
#juliet_options_footer .options-loader {
	background: url('../../images/options/options.gif') 50% 50% no-repeat rgb(249,249,249);
	height: 30px;
	width: 30px;
	float: right;
	margin: 25px 15px 0 0;
	display: none;
}
#juliet_options_footer .button {
	background-color: #3c7e3a;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
	border: none;
	text-shadow: none;
	height: 40px;
}
#juliet_options_footer .button:hover {
	background-color: #1f6743;
}
#juliet_options_footer .button:disabled {
	background-color: grey !important;
	color: #fff !important;
}
#juliet_options_footer p.options-message {
	display: inline;
	float: right;
	margin-top: 25px;
	padding: 3px 10px;
	display: none;
	font-weight: bold;
}
#juliet-options-success-message, #juliet-options-save-reminder {
	color: green;
}
#juliet_options_footer #juliet-options-save-reminder.options-message {
	float: left;
	padding-left: 15px;
	max-width: 75%;
}
#juliet-options-error-message {
	color: red;
}

/****************************************/
/* Widget Admin Styles
/****************************************/
.juliet_widget input {
	width: 95%;
}
.juliet_widget h4 {
	color: #0073aa;
	width: 95%;
	padding-bottom: 5px;
	border-bottom: 1px solid #d8d8d8;
}

/****************************************/
/* Theme Extras
/****************************************/
#juliet_theme_extras .pixandhue-logo {
	text-align: center;
}
#juliet_theme_extras .fa.fa-star{
	font-size: 17px;
	padding-right: 1px;
	vertical-align: -2px;
	color: #aae0fa;
}
#juliet_theme_extras h3 {
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: underline;
}
#juliet_theme_extras p {
	margin: 12px 0;
}

/****************************************/
/* Mobile Styles
/****************************************/
@media only screen and (max-width: 1300px) {

	#juliet_theme_extras {
		width: 535px;
		margin: 40px 0 0 30px;
	}
}	