/*
Theme Name: Juliet Child Theme
Theme URI: http://juliet.pixandhue.com/
Description: A Blog & Shop Theme for WordPress
Author: Pix & Hue
Author URI: http://pixandhue.com/
Template: juliet
*/

/* Add Custom Style Here...... */
.juliet-top-social{
	margin-left: 20px;
	margin-right: 20px;
	float:right;
}
#juliet-content{
	float:left !important;
}
#juliet-sidebar.juliet-left-sidebar{
	float:right !important;
	padding: 40px 40px 10px 0px;
}
.featured-stories {
	margin-top:-10pt;
}
.featured-stories .stories{
	    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.featured-stories article{
	width:30%;
	padding:5px;
	display:inline-block;
	margin-bottom:10px !important;
	background:none !important;
}
@media only screen and (max-width: 545px){
	.featured-stories article{
		width:80%;
	}
}
.featured-stories h4{color:#333;font-size:23px;}
.featured-stories p{color:#333;text-transform:uppercase;margin-bottom: 8pt;letter-spacing:2pt;}
.featured-stories article .juliet-post-content{
	padding-bottom:0px;
	
}
.featured-stories article .juliet-post-entry{
	width: 100%;
    padding: 0;
    margin: 0;
}
.featured-stories article .juliet-post-entry h2 a{
	font-size: 10pt;
    display: block;
    height: 10pt;
    margin-top: 5pt;
}
}
.widget.wpforms-widget{
	padding: 0px 30px 20px;
	background-color: #faefee;
}
.widget.wpforms-widget h4{
	padding: 15px 20px;
    background: #FFFFFF;
}

.widget.wpforms-widget  input,.widget.wpforms-widget  button {
    border: none !important;
    padding: 14px !important;
    font-size: 14px!important;
    width: 100%!important;
    max-width: 100%!important;
}

.widget.wpforms-widget button[type="submit"] {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #313131 !important;
    color: #FFFFFF !important;
    padding: 14px;
    border: 0px;
    margin: 0px;
    -webkit-appearance: none;
}
.widget.wpforms-widget button[type="submit"]:hover {
    background: #A7A9AC !important;
    color: #FFFFFF !important;
    cursor: pointer;
}
.juliet-top-nav{
	display:inline-block;
}
.juliet-top-nav ul{
	line-height:40px;
	margin-left:20px;
}
.juliet-top-nav ul li{
	display:inline-block;
	margin: 0 11px 0;
    position: relative;
}
.juliet-top-nav ul li a{
	color:#313131;
	letter-spacing: 0px;
    font-weight: 400;
    text-transform: uppercase;
}
.juliet-top-nav ul li a:hover{
	color: #E9C2B1;
    cursor: pointer;
}


.juliet-feat-slide {
  -webkit-filter: grayscale(0%); /* For Webkit browsers */
  -webkit-transition: .25s ease-in-out; /* For Webkit browsers */
  -moz-filter: grayscale(0%); /* For Firefox */
  -moz-transition: .5s ease-in-out; /* For FireFox */
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
} 
 
.juliet-feat-slide:hover {
  -webkit-filter: grayscale(100%); /* For Webkit browsers */
  -webkit-transition: .25s ease-in-out; /* For Webkit browsers */
  -moz-filter: grayscale(100%); /* For Firefox */
  -moz-transition: .5s ease-in-out; /* For Firefox */
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}
.juliet-social-touch{
	position: relative;
	margin-bottom: 1.5em;
	font-size: 0.95rem;
	text-transform:uppercase;
}
.juliet-social-touch div{
	border: 2px solid #313131;
    padding: 13px;
    position: relative;
    background: white;
    top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.juliet-social-touch:before{
	position:absolute;
	width:100%;
	height:50px;
	background:#313131;
	content:"";
	top:0;
	left:0;
}
.juliet-social-touch:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #313131;
	border-bottom: 0;
	margin-left: -15px;
	margin-bottom: -12px;
}
.juliet-instagram-footer p>a{
	background: white;
    padding: 5px;
}
