/*
Theme Name: Juliet
Theme URI: http://juliet.pixandhue.com/
Description: A Blog & Shop Theme for WordPress
Author: Pix & Hue
Author URI: http://www.pixandhue.com/
Version: 1.6
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: one-column, two-columns, right-sidebar, left-sidebar, grid-layout, custom-colors, featured-images, blog, full-width-template, translation-ready
Text Domain: juliet
*/

/*-----------------------------------------------------------------------------------
TABLE OF CONTENTS

1.   Global CSS Elements

2.   Header Elements
	  2.1 Top Bar 
	  2.2 Navigation Menu
	  2.3 Mobile Menu	
	  2.4 Featured Image & Slider
	  2.5 Triple Images

3.   Global Blog Styles
4.   Page Template: Blog Layout
5.   Page Template: Block Layout
6.   Page Template: Gallery Layout

7.   Post Elements
	  7.1 Single Post
	  7.2 Related Posts
	  7.3 Comments Template

8.   Page Elements 
      8.1 Single Page
	  8.2 Archive Page
	  8.3 Error Page 
	  8.4 Search Form + Results

9.   WordPress Core Elements
	  9.1 Images + Gallery
	  9.2 Misc Elements

10.  Sidebar Widgets
11.  Footer

12. Styling of External Plugins	
	 12.1 WooCommerce
	 12.2 Contact Form 7
	 12.3 MailChimp for WordPress
	 12.4 bxSlider


-----------------------------------------------------------------------------------*/

/* ------------------------------- 1. Global CSS Elements ------------------------------- */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
abbr { text-decoration: none; border-bottom: 1px dotted;}
img { max-width: 100%; height: auto; }
caption, code, dfn, strong, th { font-style:normal; font-weight:400; margin-bottom: 20px; }
cite, em, var { font-style: italic; margin-bottom: 20px; }
address { margin-bottom: 20px; font-style: normal; }
ins { text-decoration: none; background: #FFF9BD; }
pre { background: #f5f5f5; color: #666666; padding: 20px; margin-bottom: 20px; white-space: pre-wrap; -ms-word-wrap: break-word; word-wrap: break-word;}
blockquote, q {-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none;}
q:before, q:after { content:''}
ol, ul, li { list-style:none }
caption, th { text-align:left }
strong { font-weight: bold }
em { font-style: italic }
a img { border:none }
body { 
	font-family:'Raleway', sans-serif; 
	font-size:13px; 
	line-height: 22px; 
	font-weight: 400; 
	text-align: center; 
	color:#313131; 
	background:#fff; 
	-webkit-font-smoothing: subpixel-antialiased; 
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 { 
	font-size:100%; 
	font-weight: 400; 
	margin-bottom: 8px; 
	line-height: 1; 
	text-transform: uppercase; 
	letter-spacing: 1px;
}
h1 {
	font-size:28px;
}
h2 {
	font-size:24px;
}
h3 {
	font-size:22px;
}
h4 {
	font-size:20px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
p {
	line-height:22px;
	margin-bottom: 20px;
}

/* ------- Default Theme Links ------- */
a {
	color: #E9C2B1;
	text-decoration:none;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}

/* ------- Link Hover ------- */
a:hover, .juliet-post-excerpt-links a:hover,  #juliet-sidebar .juliet-social-widget a:hover, .more-link:hover, .ph-marketing a:hover, .juliet-cat-highlighted:hover, .comment .author a:hover, 
.pingback .thecomment .author a:hover, .textwidget a:hover, #juliet-footer-copyright a:hover, .juliet-about-widget a:hover, .widget a:hover {
	cursor: pointer;
	color: #A7A9AC;
}

/* ------- Accent Link Hover Color ------- */
.juliet-post-comment-count a:hover, .juliet-post-share-buttons a:hover, .juliet-top-social a:hover, #juliet-searchform .fa-search:hover, .juliet-woo-share-buttons a:hover, .juliet-post-author-box .author-social:hover, 
.juliet-item-related h3 a:hover, .juliet-post-tags a:hover,.is-sticky #juliet-nav-wrapper .juliet-sticky-social-media a:hover, .juliet-post-header h2 a:hover, .juliet-cat a:hover, .juliet-side-item-text a:hover, 
.juliet-author-content h5 a:hover, .juliet-post-comments .reply a:hover, .comment .edit a:hover, .pingback .thecomment .edit a:hover, .juliet-older a:hover, .juliet-newer a:hover, .juliet-post-pagination a:hover,
.product_meta .posted_in a:hover, .product_meta .tagged_as a:hover, .woocommerce ul.products li.product h3:hover, .comment-author-url a:hover {
	color: #E9C2B1;
	cursor: pointer;
} 

/* ------- Form Styling ------- */
input, select, textarea {
	font-family: "Raleway", sans-serif;
	border:1px solid #E5E5E5;
	padding: 14px;
	margin: 3px 0;
	font-size: 12px;
	color: #313131;
	width:100%;
	box-sizing:border-box;
	border-radius: 0px;
}	
select {
	padding: 5px;
}
button:focus, input:focus, textarea:focus {
	outline:0;
}
input[type="checkbox"] {
	width: 20px;
}
input[type="submit"] {
	font-family:"Raleway", sans-serif;
	width: auto;
	background-color: #EFECEA;
	color: #313131;
	font-size: 12px;
	border: 0px;
	border-radius:0px;
	margin: 10px 0;
	padding: 14px;
	cursor:pointer;
	-webkit-appearance: none;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}
input[type="submit"]:hover {
	background: #A7A9AC;
	color: #FFFFFF;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #313131;
  font-family:"Raleway", sans-serif;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #313131;
  font-family:"Raleway", sans-serif;
  font-size: 12px;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #313131;
  font-family:"Raleway", sans-serif;
  font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #313131;
  font-family:"Raleway", sans-serif;
  font-size: 12px;
}

/* ------- Container + Sidebar ------- */
#juliet-content-container {
	position: relative;
}
#juliet-content-container.juliet_below_feature {
	overflow: auto;
	margin-top: -80px;
	padding: 0;
	float: left;
	width: 100%;
}
#juliet-content-container.juliet_below_feature > .juliet-container {
	background-color: #ffffff;
	position: relative;
	z-index: 2;
}
.juliet-container {
	width:1080px;
	margin: 0 auto;
	overflow: auto;
}
#juliet-content {
	padding: 40px 40px 20px 40px;
	overflow: auto;
}
.juliet-default-width {
	width:660px;
	float:left;
}
#juliet-content.juliet-content-right {
	float: right;
}
#juliet-sidebar {
	width: 300px;
	float:left;
	padding: 40px 0 10px 0;
	text-align: center;
}
#juliet-sidebar.juliet-left-sidebar {
	padding: 40px 0 10px 40px;
}

/* ------- Loading Gif ------- */
.juliet-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

/* ------- Logo ------- */
#juliet-header > .juliet-container {
	overflow: visible;
}
.juliet-site-logo {
	text-align: center;
	padding: 25px 0;
}
.juliet-site-logo h1, .juliet-site-logo h2 {
	margin: 0px;
	text-align: center;
}
.juliet-site-logo img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/* ------- Back to Top Button ------- */
#juliet_back_to_top {
	position: fixed;
	height: auto;
	right: 25px;
	bottom: 25px;
	z-index: 9999;
	text-align: center;
	display: none;
}
#juliet_back_to_top.off {
	display: none;
}
#juliet_back_to_top.on {
	display: block;
}
#juliet_back_to_top span {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #313131;
	color: #313131;
	background: rgba(253,253,253,.5);
	-webkit-transition: all .2s ease 0s;
	-moz-transition: all .2s ease 0s;
	-o-transition: all .2s ease 0s;	
}
#juliet_back_to_top span:hover {
	background: #e8e8e8;
}

/* ------- Pin It Button ------- */
.juliet-pin-it-wrapper {
	position: relative;
	display: inline-block;
	text-align: center;
	height: 100%;
	width: 100%;
	line-height: 1;
}
.single-juliet-post .juliet-post-entry .juliet-pin-it-wrapper,
.juliet-post-single-content .juliet-pin-it-wrapper {
	width: auto;
}
.juliet-pin-it-border {
	position: absolute;
	top: 19px;
	left: 19px;
	border: 1.5px solid #FFFFFF;
	padding: 5px;
	font-size: 19px;
	line-height: 1.1;
	font-weight: 800;
	z-index: 2;
	display: none;
}
.sticky .juliet-pin-it-border {
	top: 35px;
}
.juliet-pin-it-button {
	background: #FFFFFF;
	color: #313131;	
	height: 37px;
	width: 37px;
	padding: 10px 15px 12px;
	display: inline-block !important;
}
.juliet-pin-it-button:hover {
	color: #E9C2B1;
}

/* -- Image Alignment and Captions -- */
.juliet-pin-it-wrapper.juliet-left-pin-image {
	float: left;
	margin: 5px 20px 20px 0;
}
.juliet-pin-it-wrapper.juliet-left-pin-image.pin-image-caption {
	margin: 5px 20px 10px 0;
}
.juliet-pin-it-wrapper.juliet-right-pin-image {
	float: right;
	margin: 5px 0 10px 20px;
}
.juliet-center-pin-wrapper .juliet-pin-it-wrapper {
	margin: 5px auto 20px auto;
}
.juliet-pin-it-wrapper.juliet-alignnone-pin-image {
	margin: 5px 20px 20px 0;
}
.juliet-pin-it-wrapper.juliet-right-pin-image .alignright,
.juliet-pin-it-wrapper .aligncenter, 
.juliet-pin-it-wrapper div.aligncenter,
.juliet-pin-it-wrapper .alignnone,
.juliet-pin-it-wrapper .alignleft,
.juliet-pin-image-caption .wp-caption.alignnone,
.juliet-pin-image-caption .wp-caption.alignleft,
.juliet-pin-image-caption .wp-caption.alignright,
.juliet-pin-image-caption .wp-caption.aligncenter {
	margin: 0;
}

/* ------------------------------- END Global CSS Elements ------------------------------- */


/* ------------------------------- 2. Header Elements ------------------------------- */
.juliet-header-wrapper {
	position: relative;
}
#juliet-header {
	width:100%;
}

/* ------------------------------- 2.1 Top Bar (Social Media + Search + Cart Icon) ------------------------------- */
#juliet-top-bar {
	height: 40px;
	background: #EFECEA;
	text-align: left;
}
.juliet-top-social {
	margin-left: 40px;
	line-height: 40px;
	display: inline-block;
}
.juliet-top-social a {
	color: #313131;
	padding-right: 13px;
	font-size: 13px;
}
.juliet-top-search-bar {
	display: inline-block;
	float: right;
	margin-right: 40px;
	line-height: 40px;
}
.juliet-top-search-bar #juliet-searchform {
	border: none;
	border-right: none;
	padding: 0px;
}
.juliet-top-search-bar #juliet-searchform input[type="text"] {
	padding: 0;
	font-size: 14px;
	background: #EFECEA;
	border: 0px;
}
.juliet-top-search-bar #juliet-searchform .fa-search {
	font-size: 13px;
}
.juliet-top-cart-icon {
	display: inline-block;
	float: right;
	line-height: 40px;
	margin: 0 45px 0 0;
}
.juliet-top-cart-icon:before {
	position: absolute;
	content: '';
	border-left: 1px solid #313131;
	height: 20px;
	top: 10px;
	right: 80px;
}
.juliet-cart-count:before {
	font-family: FontAwesome;
	content: "\f07a";
	font-size: 14px;
	line-height: 40px;
	right: 50px;
	color: #313131;
}
.juliet-count-val {
	display: inline-block;
	text-align: center;
	position: absolute;
	background-color: #A7A9AC;
	color: #FFFFFF;
	width: 17px;
	height: 17px;
	line-height: 17px;
	border-radius: 100%;
	top: 6px;
	right: 28px;
	font-size: 12px;
	font-weight: 400;
}
.juliet-top-cart-icon.juliet-sticky {
	margin-left: 15px;
	display: none;
}
.is-sticky .juliet-top-cart-icon.juliet-sticky {
	display: inline-block;
}

/* ------------------------------- 2.2 Navigation Menu ------------------------------- */
#juliet-nav-wrapper {
	margin: 0 auto;
	width: 100%;
	position: relative;
	text-align: center;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #E5E5E5;
	background: #FFFFFF;
}
#juliet-nav-wrapper > .menu {
	max-width: 1080px;
	margin: 0 auto;	
}
#juliet-nav-wrapper .juliet-sticky-social-media {
	display: none;
}
#juliet-nav-wrapper .menu li {
	display:inline-block;
	margin: 0 11px 0;
	position:relative;
}
#juliet-nav-wrapper .menu li a {
	color: #313131;
	line-height:40px;
	font-size:13.5px;
	letter-spacing: 0px;
	font-weight: 400;
	text-transform:uppercase;
	display:block;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}
#juliet-nav-wrapper .menu li a:hover {
	color:#E9C2B1;
}

/* ------- Sticky Menu ------- */
.is-sticky #juliet-nav-wrapper {
	background: #ffffff;
	border-bottom: 1px solid #E5E5E5;
	border-top: 0px;
}
.is-sticky #juliet-nav-wrapper > .menu {
	float: left;
	margin-left: 30px;
	max-width: 850px;
}
.is-sticky #juliet-nav-wrapper .juliet-sticky-social-media  {
	display: inline-block;
	float: right;
	margin-right: 30px;
	line-height: 40px;
	max-width: 150px;
}
.is-sticky #juliet-nav-wrapper .juliet-sticky-social-media a {
	color: #313131;
	padding-left: 13px;
	font-size: 13px;
}
.is-sticky #juliet-nav-wrapper .menu li {
	float: left;
}

	/* ------- Dropdown ------- */
	#juliet-nav-wrapper .menu .sub-menu,
	#juliet-nav-wrapper .menu .children {
		background-color: #FFFFFF;
		text-align: left;
		display: none;
		padding: 0;
		position: absolute;
		margin-top:0;
		left: 0;
		z-index: 99999;
		-webkit-transition: all .2s ease 0s;
		-moz-transition: all .2s ease 0s;
		-o-transition: all .2s ease 0s;		
	}
	#juliet-nav-wrapper .menu .sub-menu {
		border-bottom: 1px solid #E5E5E5;
	}
	#juliet-nav-wrapper .menu .sub-menu li {
		border-top:1px solid;
		border-left:1px solid;
		border-right:1px solid;
		border-color:#E5E5E5;
	}	
	#juliet-nav-wrapper ul.menu ul a,
	#juliet-nav-wrapper .menu ul ul a {
		color: #313131;
		margin-right: 5px;
		font-size:13px;
		font-weight: 400;
		padding: 6px 0px 6px 10px;
		min-width: 175px;
		line-height:25px;
		-o-transition:.25s;
		-ms-transition:.25s;
		-moz-transition:.25s;
		-webkit-transition:.25s;
		transition:.25s;
	}
	#juliet-nav-wrapper .menu .sub-menu .sub-menu li:first-of-type a {
		line-height: 26px;
	}
	#juliet-nav-wrapper ul.menu .sub-menu .menu-item-has-children > a:after {
		font-family: "FontAwesome";
		content: "\f105";
		margin-left: 8px;
		font-size: 11px;
	} 
	#juliet-nav-wrapper ul.menu ul li,
	#juliet-nav-wrapper .menu ul ul li {
		padding-right:0;
		margin-right:0;
		margin-left: 0;
	}
	#juliet-nav-wrapper ul.menu ul a:hover,
	#juliet-nav-wrapper .menu ul ul a:hover {
		margin: 0 0 0 5px;
	}
	#juliet-nav-wrapper ul.menu li:hover > ul,
	#juliet-nav-wrapper .menu ul li:hover > ul {
		display: block;
	}
	#juliet-nav-wrapper .menu .sub-menu ul,
	#juliet-nav-wrapper .menu .children ul {	
		left: 100%;
		top: 0;	
	}
	#juliet-nav-wrapper .menu .sub-menu .sub-menu {
		margin-top: -1px;
	}

/* ------- Mobile Menu ------- */
#juliet-menu-mobile {
	position:relative;
	z-index: 9999;
}
.is-sticky #juliet-menu-mobile.juliet-mobile-sticky-open {
	height: 100%;
	overflow-y: scroll;
}
.slicknav_nav { 
	clear: both; 
}
.slicknav_menu { 
	*zoom: 1;
	text-align: left;
    display: none;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}
.slicknav_menu:before,
.slicknav_menu:after { 
	content: " "; 
	display: table; 
}
.slicknav_menu:after { 
	clear: both 
}
.slicknav_btn {
	position: relative;
    display: block;      
    padding: 10px 0 10px 20px;
    vertical-align: middle;
    line-height: 27px;
    height:27px;
    cursor: pointer;
}
.slicknav_menu .slicknav_icon { 
	float: left; 
	margin: 0.188em 0 0 0.438em; 
	font-size:19px;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  background-color: #313131;
  width: 1.125em;
  height: 0.125em; 
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { 
	margin-top: 0.188em 
}
.slicknav_nav {
    margin: 0;
    padding: 0;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
}
.slicknav_nav ul,
.slicknav_nav li { 
	display: block;
}
.slicknav_nav ul {
    padding: 0;
    margin: 0 0 0 20px;
}
.slicknav_nav > li, 
.slicknav_nav .sub-menu > li { 
	border-top: 1px solid #E5E5E5;
}
.slicknav_nav .slicknav_row {
	display: block;
    padding: 5px 10px;
}
.slicknav_nav a {
	display: block;
    padding: 7px 10px;
    margin: 2px 5px;
    text-decoration:none;
    color: #313131;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform:uppercase;
}
.slicknav_nav .slicknav_item { 
	cursor: pointer; 
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
	display: inline;
    padding:0;
    margin:0;
}
.slicknav_nav a:hover{
    color: #E9C2B1;
}
.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;   
}
.slicknav_menu  .slicknav_menutxt { 
	display: block; 
	line-height: 1.188em; 
	float: left; 
}
.slicknav_menu .slicknav_no-text {
	margin-top: 7px;
}
.slicknav_nav .slicknav_arrow { 
	font-size: .8em; 
	font-family: sans-serif;
	margin: 0 0 0 0.4em; 
	-webkit-appearance:none;
}


/* ------------------------------- 2.4 Featured Image & Slider ------------------------------- */
.juliet-slide-container {
	visibility: hidden;
}
#juliet-featured-section {
	position: relative;
	height: 550px;
}

/* ------- Featured Item ------- */
.juliet-feat-item{
	height: 550px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #e7e7e7;
	z-index: 1;
	display: table;
	position: relative;
}
.juliet-feat-img-text-overlay {
	height: 100%;
	display: table-cell;
	vertical-align:middle;
	text-align:center;
}
.juliet-feat-title-border {
	display: inline-block;
	border: 3px solid #FFFFFF;
	margin-bottom: 80px;
	max-width: 1000px;
}
.juliet-feat-img-top-title {
	color: #313131;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 12px;
	background: #FFFFFF;
	display: inline-block;
	font-size: 40px;
	line-height: 1.15;
	margin: 6px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}
.juliet-feat-img-link .juliet-feat-img-top-title:hover {
	color: #E9C2B1;
}

/* ------------------------------- 2.5 Triple Images ------------------------------- */
.juliet-the-triple-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #e7e7e7;
	background-position: center;
	float: left;
	height: 100%;
	width: 33%;
}
.juliet-the-triple-image.one, .juliet-the-triple-image.two {
	margin-right: .5%;
}

/* ------------------------------- END Header Elements ------------------------------- */

/* ------------------------------- 3. Global Blog Styles ------------------------------- */
.post {
	margin-bottom: 50px;
	overflow: auto;
}

/* ------- Post Header ------- */
.juliet-post-header {
	padding: 0 0 20px 0;
	font-weight: 300;
}
.juliet-post-header h1, .juliet-post-header h2 {
	margin: 0;
	padding: 0;
	color: #000000;
}
.juliet-post-header h1 a, .juliet-post-header h2 a {
	display: block;
	padding-bottom: 5px;
	font-size: 22px;
	letter-spacing: 1px;
	color: #000000;
}
.juliet-mobile-post-header {
	display: none;
}
.juliet-post-date {
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	font-size: 12px;
}
.juliet-post-date a, .juliet-post-date a:hover {
	color: #808080;
}
.juliet-post-bullet {
	display: inline-block;
	color: #808080;
	font-size: 4px;
	padding: 0 3.5px 0 2px;
	vertical-align: middle;
}
.juliet-cat {
	display: inline-block;
	font-size: 12px;
	color: #808080;
}
.juliet-cat a {
	color: #808080;
}

/* ------- Post Image ------- */
.juliet-post-img {
	position: relative;
}
.juliet-post-img img {
	max-width: 100%;	
	width: 100%;
	height: auto;
}

/* ------- Post Content ------- */
.juliet-post-entry {
	overflow: auto;
}
.juliet-post-excerpt {
	margin-bottom: 28px;
}
.juliet-post-excerpt p {
	margin-bottom: 0px;
}
.juliet-post-excerpt-links,
.juliet-full-width .juliet-post-entry-left .juliet-post-excerpt-links {
	display: inline-block;
	float: left;
	letter-spacing: 1px;
	font-size: 11px;
	position: relative;
	width: 55%;
	overflow: hidden;
}
.juliet-full-width .juliet-block-layout .juliet-post-excerpt-links {
	width: 55%;
}
.juliet-full-width .juliet-post-excerpt-links,
.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-excerpt-links {
	width: 72%;
}
.juliet-post-excerpt-links.juliet-single-element,
.juliet-full-width .juliet-post-excerpt-links.juliet-single-element,
.juliet-full-width .juliet-block-layout .juliet-no-footer-links .juliet-post-excerpt-links,
.juliet-full-width .juliet-post-entry-left .juliet-no-footer-links .juliet-post-excerpt-links,
.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-no-footer-links .juliet-post-excerpt-links,
.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-excerpt-links.juliet-single-element {
	display: block;
	width: 100%;
}
.juliet-no-footer-links .juliet-post-excerpt-links {
	float: none;
	width: 100%;
}
.juliet-post-excerpt-border {
	border: 1px solid #E5E5E5;
	line-height: 2.5;
	display: inline-block;
	position: relative;
	z-index: 3;
}
.juliet-post-excerpt-border:before, 
.juliet-post-excerpt-border:after {
	position: absolute;
	content: '';
	width: 400px;
	top: 50%;
	border-top: 1px solid #E5E5E5;
}
.juliet-post-excerpt-border:before {
	left: -400px;
}
.juliet-post-excerpt-border:after {
	right: -400px;
}
.juliet-post-excerpt-links a {
	background-color: #EFECEA;
	font-weight: 400;
	color: #313131;
	padding: 1px 5px;
	margin: 0 7px;
	text-transform: uppercase;
}

/* ------- Post Footer ------- */
.juliet-post-footer {
	overflow: hidden;
	clear:both;
}

/* -- Comment Count -- */
.juliet-post-comment-count,
.juliet-full-width .juliet-post-entry-left .juliet-post-comment-count {
	display: inline-block;
	text-transform: uppercase;
	float: left;
	text-align: left;
	width: 22.5%;
	line-height: 28px;
}
.juliet-full-width .juliet-block-layout .juliet-post-comment-count {
	width: 22.4%;
}
.juliet-full-width .juliet-post-comment-count,
.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-comment-count {
	width: 14%;
}
.juliet-post-comment-count .juliet-post-bullet {
	color: #808080;
}
.juliet-post-comment-count.juliet-single-element,
.juliet-full-width .juliet-post-comment-count.juliet-single-element,
.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-comment-count.juliet-single-element {
	display: block;
	width: 100%;
	text-align:center;
}
.juliet-post-comment-count.juliet-single-element {
	line-height: 1;
	padding-top: 7px;
}
.juliet-post-comment-count a {
	font-size: 12px;
	color: #808080;
	font-weight: 300;
}
.juliet-post-comment-count .juliet-post-bullet {
	margin-right: 2px;
}
.juliet-post-mobile-count,
.juliet-full-width .juliet-block-layout .juliet-post-mobile-count,
.juliet-full-width .juliet-post-entry-left .juliet-post-mobile-count {
	display: none;
}

/* -- Share Text -- */
.juliet-share-text {
	background-color: #EFECEA;
	display: inline-block;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #313131;
	padding: 2px 5px;
	margin: 4px;
	text-transform: uppercase;
	vertical-align: middle;
}
.juliet-share-text-border {
	border: 1px solid #E5E5E5;
	line-height: 1;
	margin-top: 2px;
	display: inline-block;
	position: relative;
	z-index: 3;
}
.juliet-share-text-border:before, 
.juliet-share-text-border:after {
	position: absolute;
	content: '';
	width: 450px;
	top: 50%;
	border-top: 1px solid #E5E5E5;
}
.juliet-share-text-border:before {
	left: -450px;
}
.juliet-share-text-border:after {
	right: -450px;
}

/* -- Share Buttons -- */
.juliet-post-share-buttons,
.juliet-full-width .juliet-post-entry-left .juliet-post-share-buttons {
	display: inline-block;
	float: right;
	text-align: right;
	width: 22.5%;
	line-height: 30px;
}
.juliet-full-width .juliet-block-layout .juliet-post-share-buttons {
	width: 22.5%;
}
.juliet-full-width .juliet-post-share-buttons,
.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-share-buttons {
	width: 14%;
}
.juliet-post-share-buttons.juliet-single-element,
.juliet-full-width .juliet-post-share-buttons.juliet-single-element,
.juliet-full-width .juliet-block-layout .juliet-no-post-img .juliet-post-share-buttons.juliet-single-element  {
	display: block;
	width: 100%;
	text-align:center;
	line-height: 1;
	padding-top: 8px;
}
.juliet-post-share-buttons a {
	color: #808080;
	padding-left: 14px;
}
.juliet-single-element.juliet-post-share-buttons a:first-of-type {
	padding-left: 0px;
}

/* ------- Affiliate Items ------- */
.juliet-affiliate-title {
	display: inline-block;
	float: left;
	margin: 37px 0 0 0;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 3px 5px;
	font-weight: 400;
	background-color: #EFECEA;
}

/* -- Affiliate Item - Side -- */
.juliet-affiliate-item {
	margin: 0 auto;
	padding-left: 30px;
}
.juliet-affiliate-item:hover {
	opacity: .8;
}
.juliet-post-entry-right .juliet-affiliate-title {
	margin: 0 0 15px 0;
	float: none;
	margin-left: 30px;
}

/* -- Affiliate Item - Below -- */
.juliet-affiliate-widget {
	clear: both;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #E5E5E5;
}
.juliet-affiliate-widget iframe {
	width: 95%;
	display: block;
	margin: 0 auto;
}
/* ------------------------------- END Global Blog Styles ------------------------------- */


/* ------------------------------- 4. Page Template: Blog Layout ------------------------------- */
.juliet-blog-item.post:last-of-type {
	margin-bottom: 40px;
}
.juliet-blog-item .juliet-post-content {
	position: relative;
	background: #EFECEA;
	padding-bottom: 35px;
}
.juliet-blog-item .juliet-post-entry {
	width: 520px;
	margin: -80px auto 0;
	padding: 35px;
	position: relative;
	background: #ffffff;
	text-align: center;
}
.juliet-blog-item .juliet-post-entry.juliet-no-post-img {
	margin: 0 auto;
	border-top: 35px solid #EFECEA;
}
.juliet-post-entry-left {
	width: 65%;
	float: left;
}
.juliet-post-entry-left-content {
	margin-right: 30px;
}
.juliet-post-entry-right {
	float: left;
	min-height: 210px;
	width: 34.8%;
	border-left: 1px solid #E5E5E5;
}
.juliet-full-post-content .juliet-post-footer {
	padding-top: 10px;
}
.juliet-full-post-content .juliet-post-comment-count.juliet-single-element {
	text-align: left;
	padding-top: 0px;
	margin-top: -10px;
}
.juliet-full-post-content.juliet-full-no-footer .juliet-post-entry {
	padding: 35px 35px 20px;
}

/* -- Full Width Styles -- */
.juliet-full-width .juliet-blog-item .juliet-post-content {
	padding-bottom: 45px;
}
.juliet-full-width .juliet-blog-item .juliet-post-entry {
	width: 840px;
}
.juliet-full-width .juliet-blog-item .juliet-post-entry.juliet-no-post-img {
	border-top: 45px solid #EFECEA;
}
.juliet-full-width .juliet-post-entry-left {
	width: 75%;
}
.juliet-full-width .juliet-post-entry-left-content {
	margin-right: 35px;
}
.juliet-full-width .juliet-post-entry-right {
	width: 24.8%;
}

/* -- Side Affiliate Item + Sidebar -- */
.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt {
	margin-bottom: 25px;
}
.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt-links, 
.juliet-default-width .juliet-post-entry-left .juliet-post-comment-count, 
.juliet-default-width .juliet-post-entry-left .juliet-post-share-buttons {
	display: block;
	width: auto;
	float: none;
	text-align: center;
	line-height: 1;
}
.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt-border:before, 
.juliet-default-width .juliet-post-entry-left .juliet-post-excerpt-border:after {
	display: none;
}
.juliet-default-width .juliet-post-entry-left .juliet-post-comment-count, 
.juliet-default-width .juliet-post-entry-left .juliet-post-share-buttons {
	padding-top: 8px;
}
.juliet-default-width .juliet-post-entry-left .juliet-post-share-buttons a {
	padding: 0 13px 0 0;
	font-size: 12px;
}
.juliet-default-width .juliet-post-entry-left .juliet-post-share-buttons a:last-of-type {
	padding: 0;
}

/* ------------------------------- END Page Template: Blog Layout ------------------------------- */


/* ------------------------------- 5. Page Template: Block Layout ------------------------------- */
.juliet-block-layout.post {
	overflow: hidden;
}
.juliet-block-layout.post:last-of-type {
	margin-bottom: 40px;
}
.juliet-block-layout .juliet-post-content {
	display: table;
	width: 100%;
}
.juliet-block-layout .juliet-post-media, 
.juliet-block-layout .juliet-post-entry {
	display: table-cell;
}
.juliet-block-layout .juliet-post-media {
	width: 42.5%;
}
.juliet-block-layout .juliet-odd-row .juliet-post-media {
	padding-right: 35px;
}
.juliet-block-layout .juliet-even-row .juliet-post-media {
	padding-left: 35px;
}
.juliet-block-layout .juliet-post-entry {
	max-width: 57.5%;
	padding: 30px;
	vertical-align: middle;
	border: 10px solid #EFECEA;
	text-align: center;
}
.juliet-block-layout .juliet-post-entry.juliet-no-post-img {
	width: 100%;
}
.juliet-block-layout .juliet-post-media.juliet-no-post-img {
	padding: 0;
	display: none;
}
.juliet-block-mobile-post-media {
	display: none;
}
.juliet-cat-highlighted {
	display: inline-block;
	font-size: 35px;
	font-weight: 800;
	color: #EFECEA;
	margin: 0;
	padding-bottom: 6px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}
.juliet-block-layout .juliet-post-img img,
.juliet-block-layout .juliet-pin-it-wrapper {
	vertical-align: bottom;
}
/* ------------------------------- END Page Template: Block Layout ------------------------------- */


/* ------------------------------- 6. Page Template: Gallery Layout ------------------------------- */
.juliet-gallery {
	margin-bottom: 20px;
	z-index: 999;
	overflow: hidden;
}
.juliet-gallery-item {
	width: 325px;
	height: 420px;
	float: left;
	margin: 0 10px 20px 0;
	background-color: #E5E5E5;
	position:relative;
	overflow: hidden;
}
.juliet-gal-end {
	margin-right: 0px;
}
.juliet-gallery-post-img {
	height: 100%;
	background-size: cover;
	background-position: center;
}
.juliet-gallery-post-img:hover {
	opacity: .8;
}
.juliet-gallery-post-img.juliet-pin-it-gal:hover {
	opacity: 1;
}
.juliet-gallery-img-overlay {
	display: table;
	position: absolute;
	content: '';
	background: rgba(239,236,234,.8);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
}
.juliet-gallery-img-overlay.juliet-no-rollover-gal {
	display: table;
}
.juliet-gallery-title {
	display: table-cell;
	vertical-align: middle;
}
.juliet-gallery-title-border {
	border: 1.5px solid #FFFFFF;
	padding: 5px;
	display: none;
	overflow: auto;
	max-width: 230px;
	margin: 0 auto;	
}
.juliet-no-rollover-gal .juliet-gallery-title-border {
	display: block;
}
.juliet-gallery-title h2 {
	max-width: 210px;
	margin: 0 auto;
	font-size: 17px;
	line-height: 22px;
	background: #FFFFFF;
	color: #313131;
	font-weight: 400;
	padding: 7px 10px;	
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}
.juliet-gallery-title h2:hover {
	color: #A7A9AC;
}

/* ------------------------------- END Page Template: Gallery Layout ------------------------------- */


/* ------------------------------- 7. Post Elements ------------------------------- */

/* ------------------------------- 7.1 Single Post ------------------------------- */
.single-juliet-post {
	margin-bottom: 60px;
}
.single-juliet-post .juliet-post-header {
	border-top: 10px solid;
	border-right: 10px solid;
	border-left: 10px solid;
	border-color: #EFECEA;
	padding: 25px 25px 20px;
}
.single-juliet-post .juliet-post-header h1 {
	font-weight: 400;
	padding: 0 0 5px 0;
	font-size: 24px;
}
.juliet-post-single-content, .juliet-post-content {
	text-align: left;
}
.single-juliet-post .juliet-post-content {
	padding-bottom: 0px;
	overflow: hidden;
}
.single-juliet-post .juliet-post-media {
	position: relative;
	z-index: 1;
}
.single-juliet-post .juliet-post-entry-wrapper {
	border-bottom: 10px solid;
	border-right: 10px solid;
	border-left: 10px solid;
	border-color: #EFECEA;
	margin-bottom: 35px;
	text-align: center;
}
.single-juliet-post .juliet-post-entry-wrapper.juliet-no-bottom-elem {
	margin-bottom: 10px;
}
.juliet-full-width .single-juliet-post .juliet-post-entry-wrapper.juliet-no-bottom-elem {
	margin-bottom: 5px;
}
.single-juliet-post .juliet-post-entry {
	width: 550px;
	position: relative;
	z-index: 2;
	padding: 20px 30px 25px;
	margin: -50px auto 0px;
	background-color: #FFFFFF;
}
.single-juliet-post .juliet-post-entry.juliet-no-single-footer {
	padding: 17px 30px 10px;
}
.single-juliet-post .juliet-post-entry.juliet-no-post-img {
	margin: -22.5px auto 0;
	padding: 20px 30px 25px;
}
.single-juliet-post .juliet-post-entry.juliet-no-post-img.juliet-no-single-footer {
	margin: -5px auto 0;
	padding: 0 25px 10px 25px;
}
.juliet-full-width .single-juliet-post .juliet-post-entry {
	width: 880px;
}
.single-juliet-post .juliet-post-footer,
.single-juliet-post .juliet-post-excerpt-links.juliet-single-element {
	padding-top: 10px;
}
.single-juliet-post .juliet-post-footer.juliet-single-element {
	padding-top: 0px;
}
.single-juliet-post .juliet-post-comment-count.juliet-single-element {
	text-align: left;
	margin-top: -10px;
	padding: 2px 0 5px;
}

/* -- Post Tags -- */
.juliet-post-tags {
	margin: 10px 0;
	color: #808080;
	clear:both;
}
.juliet-post-tags a {
	font-size: 12px;
	color: #808080;
	padding: 0 0 0 4px;
	text-transform: uppercase;
}
.juliet-post-tags-icon {
	font-size: 12px;
	line-height: 1;
	padding-right: 4px;
}

/* -- Post Pagination -- */
.juliet-post-pagination {
	margin: -5px 0 0 0;
	overflow: auto;
	clear: both;
}
.juliet-post-pagination a {
	color: #313131;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase
}
.juliet-prev-post-link, .juliet-next-post-link {
	padding: 15px 0;
	display: inline-block;
	float: left;
}
.juliet-next-post-link {
	text-align: left;
}
.juliet-next-post-link i, .juliet-prev-post-link i {
	padding: 0 12px;
	font-size: 15px;
}
.juliet-prev-post-link  {
	text-align: right;
	border-right: 1px solid #E5E5E5;
	width: 50%;
	margin-right: 20px;
}
.juliet-prev-post-link a {
	padding-right: 20px;
}

/* -- Author-- */
.juliet-post-author-box {
	margin: 35px 0 0 0;
	padding: 10px 0;
	clear:both;
	overflow: auto;
	text-align: left;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.juliet-author-img {
	float: left;
	display: inline-block;
	margin-right: 20px;
}
.juliet-author-img img {
	padding: 0;
	margin: 5px 5px 0px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.juliet-author-content h5 {
	display: inline-block;
	font-size: 15px;
	padding: 15px 0 7px 0;
	margin-bottom: 2px;
}
.juliet-author-content h5 a {
	color: #313131;
}
.juliet-author-content p:first-of-type {
	margin-bottom: 15px;
}

/* ------------------------------- 7.2 Related Posts ------------------------------- */
.juliet-related-posts {
	float: left;
	width: 100%;
	clear: both;
	text-align: center;
	margin-top: 35px;
}

/* ------- Related Posts Title ------- */
.juliet-related-title {
	font-size: 12px;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	padding:10px;
	border: 1px solid #E5E5E5;
}
.juliet-related-title:before, 
.juliet-related-title:after {
	position: absolute;
	content: '';
	top: 50%;
	width: 243px;
	height: 25px;
	border-top: 1px solid #E5E5E5;
}
.juliet-full-width .juliet-related-title:before, 
.juliet-full-width .juliet-related-title:after {
	width: 413px;
}
.juliet-related-title:after {
	left: 170.5px;
	border-right: 1px solid #E5E5E5;
}
.juliet-related-title:not(:root:root):after {
	left: 170px;
}
.juliet-related-title:before {
	right: 170px;
	border-left: 1px solid #E5E5E5;
}
.juliet-related-title:not(:root:root):before {
	right: 169.5px;
}

/* ------- Related Item ------- */
.juliet-item-related-box {
	padding: 10px 20px;
	overflow: auto;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: #E5E5E5;
}
.juliet-item-related {
	float: left;
	width: 32.3%;
	margin-right: 1%;
	position: relative;
	background: #FFFFFF;
}
.juliet-full-width .juliet-item-related {
	width: 24.2%;
}
.juliet-item-related:first-of-type {
	clear: both;
}
.juliet-item-related:last-of-type {
	margin: 0;
}

/* ------- Related Item Image + Caption ------- */
.juliet-item-related-img {
	max-width: 100%;
	height: 165px;
	margin-bottom: 7px;
	background: #E3E3E3;
	background-size: cover;
	background-position: center;
}
.juliet-item-related-img:hover {
	opacity: .8;
}
.juliet-item-related-img a {
	height: 165px;
	display: block;
}
.juliet-item-related h3 {
	font-size: 11px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 1px;
	margin-top: 7px;
}
.juliet-item-related h3 a {
	color: #313131;
	font-size: 12px;
	font-weight: 400;
}

/* ------------------------------- 7.3 Comments Template ------------------------------- */
.juliet-post-comments {
	margin: 12px 0 0 0;
	clear: both;
}
.juliet-comments-title {
	clear: both;
	display: inline-block;
	float: left;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
	padding: 2px 5px;
	background: #EFECEA;
	margin-top: 35px;
}
.juliet-comments-title.juliet-comm-no-author {
	margin-top: 30px;
}
.juliet-comments-title.juliet-top-comm,
.juliet-comments-title.juliet-top-comm.juliet-comm-no-author {
	margin-top: 0px;
}
.juliet-comments-title.juliet-single-page-no-footer {
	margin-top: 10px;
}
.juliet-comment-form-comment {
	margin: 0;
}

/* ------- Comment Form ------- */
.comment-form input, .comment-form textarea {
	font-size: 12px;
	border: 1px solid #E5E5E5;
	padding: 20px 15px;
	margin: 0 0 5px 0;
	-webkit-appearance:none;
}
.comment-form input {	
	width: 49%;
	text-transform: uppercase;
	line-height: 20px;
}
.juliet-comment-form-comment textarea {
	width: 50%;
	float: right;
	max-height: 130px;
	overflow: auto;
}
.logged-in .juliet-comment-form-comment textarea {
	width: 100%;
	float: none;
}
.comment-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left:10px;
}
.comment-form::-moz-placeholder { /* Firefox 19+ */
  padding-left:10px;
}
.comment-form input:-ms-input-placeholder { /* IE 10+ */
  padding-left:10px;
}
.comment-form input:-moz-placeholder { /* Firefox 18- */
  padding-left:10px;
}
.comment-form .form-submit {
	width: 49.7%;
	float: right;
	margin: -65px 0 0 0;
	border: 1px solid #E5E5E5;
	clear: both;
}
.logged-in .form-submit {
	float: none;
	margin: 0;
}
.comment-form input[type="submit"] {
	background: #EFECEA;
	color: #313131;
	border: 0px;
	width: 97%;
	margin: 5px;
	padding: 14px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
	-webkit-appearance: none;
}
.juliet-full-width .comment-form input[type="submit"] {
	width: 98%;
}
.comment-form input[type="submit"]:hover {
	background: #A7A9AC;
	color: #FFFFFF;
	cursor: pointer;
}
.comment-respond {
	margin-bottom: 30px;
}
/*IE Styles*/
_:-ms-fullscreen, :root .juliet-comment-form-comment textarea { 
	max-height: 118px; 
}
_:-ms-fullscreen, :root .comment-form .form-submit {
	margin: -61px 0 0 0;
}
_:-ms-fullscreen, :root .comment-form input[type="submit"] {
	padding: 12.5px;
	line-height: 19px;
}

/* ------- Comments ------- */
.juliet-post-content ul.comments,
.juliet-page-content ul.comments {
	text-align: left;
	margin-bottom: -30px;
	padding: 0;
}
.juliet-page-content ul.comments {
	margin-bottom: -10px;
}
.comment, 
.pingback .thecomment {
	padding: 30px 0;
}
.juliet-post-content ul.comments li,
.juliet-page-content ul.comments li {
	border-top: 1px solid #E5E5E5;
} 
.comment p {
	padding: 18px 0;
	line-height: 18px;
	margin: 0;
	clear: both;
}
.comment .date, 
.juliet-post-comments .reply a, 
.comment .edit a,
.pingback .thecomment .date,
.pingback .thecomment .reply a,
.pingback .thecomment .edit a {
	text-transform: uppercase;
	margin: 0;
	color: #313131;
}
.comment .author, 
.pingback .thecomment .author {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 1px;
	padding: 1px 2px;
	background: #EFECEA;
	margin-bottom: 18px;
}
.comment .author a, 
.pingback .thecomment .author a {
	color: #313131;
	font-size: 12px;
}
.comment-author-url {
	padding: 0 0 18px 0;
}
.comment-author-url a {
	color: #313131;
}
.comment .reply,
.comment .edit,
.pingback .thecomment .edit, 
.pingback .thecomment .reply {
	float: right;
}
.children .comment {
	margin-left: 50px;
}
.children .children .comment {
	margin-left: 100px;
}
.children .comment:before {
	display: none;
}
.comment-edit-link .fa-circle {
	font-size: 4px;
	vertical-align: middle;
	padding-right: 6px;
}
.comment-parent {
	display: block;
	color: #A7A9AC;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: -18px 0 10px 10px;
}
.comment-parent i {
	padding: 0 6px;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.comment-reply-link {
	position: relative;
	padding-bottom: 5px;
}
#comments_pagination .page-numbers {
	margin: 20px 0 0 0;
	display: inline-block;
}
.juliet-post-content ul.comments .comment-text li,
.juliet-page-content ul.comments .comment-text li {
	border: 0px;
}
.juliet-post-content .comment-text p,
.juliet-page-content .comment-text p {
	padding: 0px;
	line-height: 22px;
	margin-bottom: 18px;
	clear: none;
}
.juliet-post-content .comment-text blockquote p,
.juliet-page-content .comment-text blockquote p {
	padding-left: 29px;
}

/* ------------------------------- END Post Elements ------------------------------- */


/* ------------------------------- 8. Page Elements ------------------------------- */

/* ------------------------------- 8.1 Single Page ------------------------------- */
#juliet-content .page {
	margin-bottom: 20px;
}
.juliet-page-content {
	text-align: left;
}
.juliet-template-title, .juliet-page-header h1 {
	line-height: 1;
	margin-bottom: 10px;
	text-align: left;
	font-size: 35px;
	font-weight: 800;
	color: #EFECEA;
}
.juliet-page-header {
	text-align: left;
}
.juliet-page-img img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
.type-page .juliet-post-footer {
	margin: 40px 0 0 0;
	text-align: center;
}
.type-page .juliet-post-footer.juliet-single-comm-count {
	margin: 30px 0 5px 0;
}
.type-page .juliet-post-comment-count.juliet-single-element {
	text-align: left;
	padding-top: 0px;
}
.type-page .juliet-single-element .juliet-share-text-border:before,
.type-page .juliet-single-element .juliet-share-text-border:after,
.juliet-woo-footer.juliet-single-element .juliet-share-text-border:before, 
.juliet-woo-footer.juliet-single-element .juliet-share-text-border:after {
	width: 350%;
}
.type-page .juliet-single-element .juliet-share-text-border:before,
.juliet-woo-footer.juliet-single-element .juliet-share-text-border:before {  
	left: -350%;
}
.type-page .juliet-single-element .juliet-share-text-border:after,
.juliet-woo-footer.juliet-single-element .juliet-share-text-border:after {
	right: -350%;
}

/* ------- Pagination ------- */
.juliet-pagination {
	clear:both;
}
.juliet-older a, .juliet-newer a {
	text-transform: uppercase;
	margin: 10px 0 30px;
	display: inline-block;
	letter-spacing: 1px;
	color: #313131;
	font-size: 12px;
}
.juliet-older {
	float: right;
}
.juliet-older i {
	padding-left: 5px;
}
.juliet-newer {
	float: left;
}
.juliet-newer i {
	padding-right: 5px;
}
.juliet-pagination-wrapper {
	display: block;
}

/* ------------------------------- 8.2 Archive Page ------------------------------- */
.juliet-archive-box {
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 26px;
}
.juliet-archive-box span {
	padding-right: 3px;
	color: #EFECEA;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 800;
}
.juliet-archive-box h1 {
	display: inline-block;
	font-size: 18px;
}

/* ------------------------------- 7.3 Error Page ------------------------------- */
.juliet-error-page {
	margin-bottom: 80px;
}
.juliet-error-page h1 {
	font-size: 120px;
	font-weight: 800;
	padding: 20px 0 30px 0;
	text-decoration: underline;
	color: #EFECEA;
}
.juliet-post-header.nothing {
	border: none;
}
.juliet-post-header.nothing h1 {
	font-size: 30px;
	margin-bottom: 10px;
}

/* ------------------------------- 7.4 Search Form + Results ------------------------------- */
#juliet-searchform {
	border: 1px solid #E5E5E5;
	padding: 7px;
	max-width: 100%;
}
.juliet-error-page #juliet-searchform, 
.juliet-post-entry.nothing #juliet-searchform {
	margin: 30px auto;
}
#juliet-searchform input[type="text"] {
	border: none;
	border-right: 1px solid #E5E5E5;
	font-size: 15px;
	padding: 10px 20px;
	width: 75%;
}
#juliet-searchform button {
	border: none;
	background: none;
	padding-left: 20px;
}
#juliet-searchform .fa-search {
	font-size: 18px;
	color: #313131;
	-webkit-transform:rotateY(180deg);
  	-moz-transform:rotateY(180deg);
  	-o-transform:rotateY(180deg);
  	-ms-transform:rotateY(180deg);
}
#juliet-searchform .screen-reader-text {
	display: none;
}

/* -- Search Results for Pages -- */
.search-results #juliet-content .juliet-blog-item.page,
.search-results #juliet-content .juliet-blog-item.product {
	margin-bottom: 50px;
}
.search-results .type-page .juliet-post-header .juliet-post-bullet,
.search-results .type-product .juliet-post-header .juliet-post-bullet {
	display: none;
}
.search-results #juliet-content .juliet-block-layout.page,
.search-results #juliet-content .juliet-block-layout.product {
	margin-bottom: 50px;
}
.search-results #juliet-content .page.juliet-gallery-item {
	margin-bottom: 20px;
}


/* ------------------------------- END Page Elements ------------------------------- */

/* ------------------------------- 9. WordPress Core ------------------------------- */

/* ------------------------------- 9.1 Images + Gallery ------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 20px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
   	margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    max-width: 100%;
    width: 100% !important;
    text-align: center;
	box-sizing:border-box;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 7px 0;
}
.wp-caption.alignright {
   margin: 5px 0 7px 15px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
	color:#888;
    line-height: 17px;
    margin: 2px 10px 8px;
    clear: both;
}

/* ------- Gallery ------- */
.gallery {
	margin-bottom:20px !important;
}
.gallery .gallery-caption{  
    font-size:12px;
	color:#888;
	margin-top:4px;
}  
.gallery .gallery-icon img{  
    border-radius:2px;  
    border:1px solid #eee !important;  
	padding:7px;
}  
.gallery .gallery-icon img:hover {
	border:1px solid #ccc !important;  
}

/* ------------------------------- 9.2 Misc Elements------------------------------- */

/* ------- "More" Tag ------- */
.more-link {
	position: relative;
	display: inline-block;
	clear: both;
	margin: 5px;
	text-transform: uppercase;
	color: #313131;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 3px 5px;
	line-height: 1;
	background: #EFECEA;
}
.more-link:after {
	position: absolute;
	content: '';
	top: -5px;
	left: -5px;
	border: 1px solid #E5E5E5;
	height: 25px;
	width: 142px;
}
.juliet-wp-links {
	clear: both;
	margin-bottom: 20px;
}

/* ------- Blockquote ------- */
blockquote {
	margin-bottom: 10px;
	position: relative;
	width: 90%;
}
blockquote p {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	padding-left: 29px;
}
blockquote p:before {
	position: absolute;
	content: '\201C';
	font-size: 44px;
	letter-spacing: 0px;
	top: 5px;
	left: 0px;
	font-family: 'Playfair Display',serif;
	font-style: italic;
	font-weight: bold;
	color: #A7A9AC;
}


/* ------- Sticky Posts ------- */
.juliet-blog-item.sticky {
	position: relative;
	overflow: hidden;
}
.juliet-blog-item.sticky:before {
	position: absolute;
	content: '';
	height: 35px;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 15px solid #EFECEA;
	left: 0;
	top: 0;
	z-index: 1;
}
.juliet-blog-item.sticky:after {
	position: absolute;
	content:'';
	height: 35px;
	width: 70px;
	background: #EFECEA;
	border-radius: 70px 70px 0 0;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}
.juliet-blog-item.sticky .juliet-post-content {
	border-top: 35px solid #EFECEA;
	position: relative;
}
.juliet-blog-item.sticky .juliet-post-content:before {
	position: absolute;
	content:'\f08d';
	font-family: 'FontAwesome';
	font-size: 27px;
	line-height: 29px;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 4;
	margin-top: -22px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

/* ------- Lists, Tables, & Dividers ------- */
.juliet-post-content hr, 
.juliet-page-content hr {
	border:0;
	height:0;
	border-bottom:1px solid #000000;
	clear:both;
	margin-bottom: 20px;
}
.juliet-post-content ul, 
.juliet-post-content ol, 
.juliet-page-content ul, 
.juliet-page-content ol {
	padding-left:45px;
	margin-bottom:20px;
}
.juliet-post-content li > ul, 
.juliet-page-content li > ul, 
.juliet-post-content li > ol, 
.juliet-page-content li > ol {
	margin: 8px 0;
}
.juliet-post-content ul.comments li,
.juliet-page-content ul.comments li {
	list-style-type: none;
	margin-bottom: 0px;
} 
.juliet-post-content ul.comments li:first-of-type,
.juliet-page-content ul.comments li:first-of-type {
	margin-top: 35px;
}
.juliet-post-content ul > li, 
.juliet-page-content ul > li,
.juliet-post-content ul.comments .comment-text li,
.juliet-page-content ul.comments .comment-text li,
.juliet-post-content ul.comments .comment-text li:first-of-type,
.juliet-page-content ul.comments .comment-text li:first-of-type {
	margin: 0 0 12px 0;
	list-style:square;
}
.juliet-post-content ol > li, 
.juliet-page-content ol > li,
.juliet-post-content ul.comments .comment-text ol li,
.juliet-page-content ul.comments .comment-text ol li,
.juliet-post-content ul.comments .comment-text ol li:first-of-type,
.juliet-page-content ul.comments .comment-text ol li:first-of-type   {
	margin: 0 0 12px 0;
	list-style:decimal;
}
.juliet-post-content ul.children,
.juliet-page-content ul.children {
	padding-left: 0px;
	margin: 0;
} 
.juliet-post-content ul.comments ul.children li:first-of-type,
.juliet-page-content ul.comments ul.children li:first-of-type {
	margin-top: 0;
}
.juliet-post-content pre {
	overflow:auto;
}
.juliet-post-content dl, 
.juliet-page-content dl {
	margin: 10px 0 20px 0;
	padding-left: 25px;
	line-height: 1.4;
}
.juliet-post-content dl dt, 
.juliet-page-content dl dt {
	font-weight: bold;
	margin-top: 12px;
}
.juliet-post-content dl dd, 
.juliet-page-content dl dd {
	margin-bottom: 12px;
}
.bypostauthor  {}
.mejs-container { margin-bottom: 20px; }
.juliet-post-content table, .juliet-page-content table { width:100%; margin-bottom:22px; border-collapse:collapse; border: 1px solid #e5e5e5; }
.juliet-post-content td, .juliet-post-content th, .juliet-page-content td, .juliet-page-content th { padding: 12px; border-bottom: 1px solid #E5E5E5; border-left: 1px solid #E5E5E5;}
.juliet-post-content th, .juliet-page-content th { font-weight:bold; font-size:14px; background:#f5f5f5;}
.juliet-post-content tr:hover, .juliet-page-content tr:hover  {
	background:#f9f9f9;
}
/* ------------------------------- END WordPress Core ------------------------------- */


/* ------------------------------- 10. Sidebar Widgets ------------------------------- */

/* ------- Generic Widget ------- */
.widget {
	margin-bottom: 30px;
}
.widget a {
	color: #313131;
	text-transform: uppercase;
	line-height: 1;
}
.widget-title {
	display: inline-block;
	background: #EFECEA;
	text-transform: uppercase;
	font-size: 12.5px;
	line-height: 1.2;
	padding: 1px 5px;
	margin: 0 30px 20px 30px;
	font-weight: 400;
	letter-spacing: 1px;	
}
.widget ul li {
	padding-top: 13px;
}
.widget ul li:first-of-type {
	margin-top: -10px;
}
#juliet-sidebar img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.widget .screen-reader-text {
	display:none;
}
.widget select {
	border:1px solid #ddd;
	color:#313131;
	padding:9px 10px;
	width:100%;
	box-sizing:border-box;
	height: 40px;
	font-size: 12px;
	outline: none;
}

/* ------- Juliet Social Widget ------- */
#juliet-sidebar .juliet-social-widget {
	padding: 11px 0;
	background: #EFECEA;
}
#juliet-sidebar .juliet-social-widget a {
	display: inline-block;
	padding: 4px 15px;
	font-size: 1.4em;
	color: #313131;
}

/* ------- Juliet About Me Widget ------- */
.juliet_about_widget {
	position: relative;
}
.juliet_about_widget:after {
	position: absolute;
	z-index: -1;
	content: '';
	border: 1px solid #E5E5E5;
	width: 240px;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
.juliet_about_widget .widget-title {
	margin: 25px 30px;
}
.juliet-about-img {
	position: relative;
}
.juliet-about-img:after, .juliet-about-img:before {
	position: absolute;
	content: '';
	top: 0;
	height: 100%;
}
.juliet-about-img:before {
	left: 29px;
	border-left: 1px solid #E5E5E5;
}
.juliet-about-img:after {
	right: 29px;
	border-right: 1px solid #E5E5E5;
}
.juliet-about-img img {
	margin-bottom: 20px;
	width: 100%;
}
.juliet-about-widget p {
	max-width: 200px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.juliet-about-widget a {
	color: #E9C2B1;
	text-transform: none;
}

/* ------- Juliet Recent Posts Widget ------- */
.juliet_recent_posts_widget .widget-title {
	margin: 25px 30px 35px;
}
.juliet_recent_posts_widget {
	position: relative;
	padding-bottom: 15px;
}
.juliet-side-newsfeed {
	position: relative;
	z-index: 2;
}
.juliet_recent_posts_widget:after {
	position: absolute;
	content: '';
	z-index: 1;
	border: 1px solid #E5E5E5;
	width: 240px;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
ul.juliet-side-newsfeed li {
	border:none;
	padding: 10px 0;
}
ul.juliet-side-newsfeed li:first-of-type {
	margin-top: -20px;
}
.juliet-side-item-text {
	max-width: 200px;
	margin: 0 auto;
}
.juliet-side-item-text h4 {
	margin: 0;
}
.juliet-side-item-text a {
	font-size: 12px;
	font-weight: 400;
}
.juliet-side-image {
	position: relative;
}
.juliet-side-image:hover {
	opacity: .8;
}
.juliet-side-image:before, .juliet-side-image:after {
	position: absolute;
	content: '';
	top: 0;
	height: 100%;
}
.juliet-side-image:before {
	left: 29px;
	border-left: 1px solid #E5E5E5;
}
.juliet-side-image:after {
	right: 29px;
	border-right: 1px solid #E5E5E5;
}
.juliet-side-image img {
	height: auto;
	margin-bottom: 15px;
}

/* ------- Juliet Latest Products Widget ------- */
.juliet-latest-products-widget {
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	padding-top: 30px;
}
.juliet-latest-products-widget .widget-title {
	margin-bottom: 0px;
}
.juliet-latest-product-item {
	border-bottom: 1px solid #E5E5E5;
	padding: 30px 0;
}
.juliet-latest-products-widget .juliet-product-image:hover {
	opacity: .8;
	cursor: pointer;
}
.juliet-latest-product-title {
	text-transform: none;
	margin: 0;
	padding: 20px 0 0 0;
}

/* ------- Juliet Custom List Widget ------- */
.juliet-custom-list-widget {
	background: #EFECEA;
	padding: 0 30px 27px;
}
.juliet-custom-list-widget .widget-title {
	background: #FFFFFF;
	padding: 15px 20px;
	margin-bottom: 15px;
}
p.juliet-custom-list-title {
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 1px solid #A7A9AC;
	margin: 0;
	padding: 8px 0;
	line-height: 17px;
}

/* ------- Facebook Widget (Sidebar) ------- */
.juliet_facebook_widget .widget-title {
	padding: 5px 15px;
	margin: 0;
	max-width: 270px;
}

/* ------- Instagram Widget (Sidebar) ------- */
#juliet-sidebar .null-instagram-feed {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#juliet-sidebar .widget.null-instagram-feed ul li:first-of-type {
	margin: 0;
}
#juliet-sidebar .widget.null-instagram-feed ul li {
	padding: 0;
}
#juliet-sidebar .instagram-pics img {
	width: 100%;
}
#juliet-sidebar .null-instagram-feed .widget-title {
	margin: 0;
	padding: 3px 5px 4px;
}
#juliet-sidebar .instagram-pics img:hover {
	opacity: .8;
}

/* ------- WordPress Widgets ------- */

/* -- WP Text Box -- */
.widget_text {
	padding: 30px 30px 27px;
	border: 1px solid #E5E5E5;
}
.widget_text .widget-title {
	margin-bottom: 25px;
}
.textwidget {
	line-height: 24px;
}
.textwidget a {
	color: #E9C2B1;
	text-transform: none;
}

/* -- WP Categories, WP Pages,  WP Recent Posts, 
WP Recent Comments, WP Archive, WP Meta, WP Nav Menu  -- */
.widget_categories,
.widget_pages, 
.widget_recent_entries,
.widget_recent_comments,
.widget_meta,
.widget_archive,
.widget_nav_menu {
	padding: 0 30px 30px;
	background: #EFECEA;
}
.widget_meta {
	padding: 0 30px 25px;
}
.widget_archive {
	padding: 0 30px 27px;
}
.widget_categories .widget-title,
.widget_pages .widget-title, 
.widget_archive .widget-title,
.widget_meta .widget-title,
.widget_recent_entries .widget-title,
.widget_recent_comments .widget-title,
.widget_nav_menu .widget-title {
	background: #ffffff;
	padding: 15px 20px;
}
.widget_categories ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_nav_menu ul {
	margin-top: -3px;
}
.widget_categories ul.children,
.widget_pages ul.children,
.widget_nav_menu ul.sub-menu {
	margin-top: 0px;
}
.widget_categories ul li,
.widget_pages ul li,
.widget_archive ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_meta ul li,
.widget_nav_menu ul li  {
	display: inline;
	line-height: 22px;
	padding: 8px 0;
	border-bottom: 1px solid #A7A9AC;
}
.widget_recent_comments ul li {
	line-height: 27px;
}
.widget_categories ul li:after,
.widget_archive ul li:after,
.widget_recent_comments ul li:after,
.widget_recent_entries ul li:after,
.widget_meta ul li:after,
.widget_pages ul li:after,
.widget_nav_menu ul li:after {
	content: "\A";
	white-space: pre;
	display: block;
	height: 0px;
	width: 100%;
}
.widget_archive ul li:after,
.widget_meta ul li:after {
	height: 10px;
}
.widget_recent_comments a,
.widget_recent_entries a,
.widget_categories a,
.widget_pages a,
.widget_nav_menu a {
	line-height: 32px;
}
.widget_categories select,
.widget_archive select {
	margin-top: 10px;
}
.widget_recent_comments .comment-author-link, 
.widget_recent_comments .comment-author-link a {
	color:grey;
	font-style:italic;
	text-transform:none;
}
.widget_recent_comments .comment-author-link {
	line-height: 2.5;
}
.widget_recent_comments ul li, 
.recentcomments a {
	text-transform: none;
}

/* -- Tag Cloud -- */
.widget_tag_cloud {
	border: 1px solid #E5E5E5;
	padding: 30px 30px 25px;
}
.widget_tag_cloud .widget-title {
	margin-bottom: 30px;
}
.tagcloud a {
	font-size:11px !important;
	font-weight: 400;
	letter-spacing:1px;
	background:#e3e3e3;
	padding:6px 10px 5px 10px;
	margin-right:5px;
	margin-bottom:8px;
	display:inline-block;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.tagcloud a:hover {
	opacity:.9;
	text-decoration:none;
	background:#EFECEA;
	color: #FFFFFF;
}	

/* -- WP Recent Post Widget -- */
.widget_recent_entries .post-date {
	color:grey;
	font-style:italic;
	display:block;
	font-size:12px;
	margin-top:5px;
}

/* -- Searchform -- */
#juliet-sidebar #juliet-searchform {
	border: 1px solid #E5E5E5;
}	

/* -- WordPress Calendar -- */
.widget_calendar { border: 1px solid #e5e5e5; padding: 30px; }
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #777; font-size: 12px; margin-top: 10px; margin-bottom: 15px; border-bottom:1px solid #e5e5e5; padding-bottom:8px; }
#wp-calendar thead { font-size: 12px;  }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody td { background: #e3e3e3; border: 1px solid #fff; text-align: center; padding:8px; font-size:12px; }
#wp-calendar tbody td a { font-weight:700; color:#222; }
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot { text-align: left; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
#wp-calendar thead th { padding-bottom: 10px; text-align: center; }

/* -- RSS -- */
.widget_rss {
	padding: 30px;
	border: 1px solid #E5E5E5;
}
.widget_rss li {
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;
}
a.rsswidget {
	display: block;
	font-weight: 400;
	line-height: 1.35;
}
.rss-date {
	display: block;
	color: grey;
	padding: 2px 0 5px;
}
/* ------------------------------- END Sidebar Widgets ------------------------------- */


/* ------------------------------- 10. Footer ------------------------------- */
#juliet-footer {
	clear: both;
	background-color: #EFECEA;
	text-align:center;
}

/* ------- Instagram Widget (Footer) ------- */
#juliet-instagram-footer .instagram-widget{
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
#juliet-instagram-footer .null-instagram-feed .instagram-title {
	display: none;
}
.juliet-instagram-title {
	display: inline-block;
	background: #ffffff;
	padding: 15px 20px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
	margin-bottom: 25px;
}
#juliet-footer .instagram-pics li {
	width: 16.66667%;
	height: 192px;
	display: inline-block;
	float: left;
	border: none;
}
#juliet-instagram-footer .null-instagram-feed p.clear {
	background: #EFECEA;
	clear: none;
	position: absolute;
	margin:auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 0;
	padding: 12px 10px 22px;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 1px;
	width: 95px;
}
#juliet-instagram-footer .null-instagram-feed a {
	color: #313131;
}
#juliet-footer .instagram-pics img {
	max-width: 100%;
}
#juliet-footer-copyright {
	color: #313131;
	padding: 20px 0;
	font-size: 13px;
}
.ph-copyright {
	margin: 0 30px;
	line-height: 20px;
}
.ph-marketing a {
	color: #313131;
}
/* ------------------------------- END Footer ------------------------------- */


/* ------------------------------- 12. Styling of External Plugins ------------------------------- */

/* ------------------------------- 12.1 WooCommerce ------------------------------- */

/* ------- Global Styles ------- */
.woocommerce .products ul, 
.woocommerce ul.products {
	margin-bottom: 10px;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	width: 30.8%;
	margin-bottom: 20px;
}
.woocommerce ul.products li.product:last-of-type, 
.woocommerce-page ul.products li.product:last-of-type {
	margin-right: 0px;
}
.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .star-rating {
	display: none;
}
.products h2 {
	font-size: 18px;
	margin-bottom: 12px;
}
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price {
	text-align: center;
	padding: 0;
}
.woocommerce ul.products li.product h3 {
	color: #313131;
	font-size: 12px;
	line-height: 16px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}
.woocommerce ul.products li.product .price {
	color: #808080;
}
.woocommerce-page .juliet-page-content ul > li {
	list-style-type: none;
}
.woocommerce .woocommerce-ordering select,
.woocommerce div.product form.cart .variations select {
	height: 30px;
	text-transform: uppercase;
	color: #808080;
	border: 1px solid #E5E5E5;
	letter-spacing: 1px;
	font-size: 11px;
	outline: none;
	padding: 5px;
}
.woocommerce div.product form.cart .variations select {
	margin-bottom:10px;
}
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce a.button,
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce input.button {
	background-color: #E3E3E3;
	color: #313131;
	font-size: 11px;
	letter-spacing: 1px;
	padding: 7px 10px;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: 400;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
	padding: 8px 10px;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce a.button:hover,
.woocommerce .cart .button, .woocommerce .cart input.button:hover,
.woocommerce input.button:hover {
	background: #A7A9AC;
	color: #FFFFFF;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce a.button:hover {
	background: #A7A9AC;
}
.woocommerce button.button.alt,
.woocommerce a.button.alt,
.woocommerce input.button.alt {
	position: relative;
	background: #EFECEA;
	color: #313131;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 0px;
	padding: 10.5px 12px;
	margin-left: 5px;
}
.woocommerce button.button.alt:after,
.woocommerce a.button.alt:after,
.woocommerce input.button.alt:after {
	position: absolute;
	content: '';
	top: -4px;
	left: -4px;
	width: 100%;
	height: 100%;
	border: 1px solid #E5E5E5;
	padding: 3px;
}
.woocommerce-cart .woocommerce a.button.alt:after {
	border: 1px solid #E5E5E5;
}
.woocommerce button.button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce input.button.alt:hover {
	background: #A7A9AC;
	color: #FFFFFF;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;	
}
.woocommerce button.button.alt.disabled {
	background-color: #E5E5E5;
	color: #808080;
}
.woocommerce button.button.alt.disabled:hover {
	background-color: #E5E5E5;
	color: #808080;
}
.woocommerce-message a {
	color: #AF3833;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, 
.woocommerce.widget_shopping_cart .cart_list li a.remove,
.woocommerce a.remove {
	border: 1px solid #AF3833;
	background: #AF3833;
	color: #FFFFFF !important;
	height: 15px;
	width: 15px;
	line-height: 13px;
	padding-left: 1px;
	font-size: 19px;
	margin: 25px 0 0 20px;
}
.woocommerce a.remove {
	margin: 0 auto;
	font-weight: 400;
	padding-left: 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove:hover, 
.woocommerce.widget_shopping_cart .cart_list li a.remove:hover,
.woocommerce a.remove:hover {
	background: #A7A9AC;
	border-color: #A7A9AC;
}
#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
	border-radius: 0px;
	background: #F7F7F7;
}
.woocommerce nav.woocommerce-pagination {
	margin-bottom: 35px;
}
.woocommerce nav.woocommerce-pagination ul li a {
	color: #808080;
}
.woocommerce .star-rating {
	color: #E9C2B1;
	float: none;
}
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
	min-height: 3.136em;
	min-width: 3.636em;
	background-color: #fcea9e;
	letter-spacing: 1px;
	color: #313131;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 1;
}
.woocommerce span.onsale {
	left: 42%;
	top: -10px;
}
.woocommerce .juliet-full-width span.onsale {
	left: 44%;
}
.juliet-woo-footer {
	margin-bottom: 25px;
	overflow: hidden;
	clear: both;
}
.juliet-woo-share-buttons a {
	color: #808080;
	padding-left: 13px;
}
.juliet-woo-share-buttons a:first-of-type {
	padding: 0px;
}
.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message {
	background: #F7F7F7;
}
.woocommerce-info {
	border-top-color: #EFECEA;
	color: #313131;
}
.woocommerce-info:before {
	color: #313131;
}
.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message {
	text-align: left;
}
.woocommerce-pagination .next.page-numbers,
.woocommerce-pagination .prev.page-numbers {
	font-family: sans-serif;
}

/* ------- Shop Page ------- */
.woocommerce .page-title {
	color: #EFECEA;
	line-height: 1;
	margin-bottom: 10px;
	text-align: left;
	font-size: 35px;
	font-weight: 800;
}
 .woocommerce .woocommerce-result-count {
 	font-size: 12px;
 	color: #808080;
 	text-transform: uppercase;
 	margin-top: 5px;
 	letter-spacing: 1px;
 }
.woocommerce ul.products li.product .price {
	font-size: .95em;
}

/* ------- Single Product Page ------- */
.woocommerce div.product {
	text-align: left;
}
.woocommerce div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a,
.woocommerce-main-image img {
	margin-bottom: 10px;
}
.woocommerce div.product div.images div.thumbnails {
	padding-top: 0px;
}
.woocommerce div.product div.images, 
.woocommerce div.product div.summary {
	margin-bottom: 30px;
}
.woocommerce div.product .product_title {
	font-size: 22px;
	line-height: 1.2;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title { 
	text-align: center; 
	color: #313131; 
}
.woocommerce div.product p.price {
	font-size: 19px;
	color: #313131;
	font-weight: 400;
}
.woocommerce-review-link {
	color: #808080;
}
.woocommerce .quantity .qty,
.woocommerce .cart_item .quantity .qty {
	padding: 11.5px 4px;
	margin: 0;
	border: 1px solid #E5E5E5;
	margin-top: -3.5px;
}
.product_meta .sku_wrapper, 
.product_meta .posted_in, 
.product_meta .tagged_as {
	display: block;
	line-height: 1.5;
	letter-spacing: 1px;
	font-size: 12px;
	text-transform: uppercase;
}
.product_meta .posted_in a, 
.product_meta .tagged_as a {
	color: #808080;
}
.woocommerce ul.products li.product .price del {
	line-height: 1;
	padding-top: 7px;
}
.woocommerce div.product form.cart, 
.woocommerce div.product p.cart {
	margin-top: 27px;
}
.woocommerce div.product form.cart table.group_table {
	margin-bottom: 20px;
}
.woocommerce div.product form.cart .variations {
	margin-bottom: 0px;
	overflow: hidden;
}
.woocommerce div.product form.cart .variations td, 
.woocommerce div.product form.cart .variations th {
	line-height: 1.75em;
}
.woocommerce div.product form.cart .variations td.label {
	padding-right: 7px;
}
.woocommerce div.product form.cart .variations label {
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
.woocommerce-variation p {
	color: #AF3833;
	margin-top: 15px;
}
.woocommerce-variation-price {
	margin-bottom: 20px;
}
.woocommerce div.product form.cart .reset_variations {
	text-transform: uppercase;
	float: right;
	color: #808080;
	border: 1px solid #E5E5E5;
	padding: 6px 6px 4px;
	border-radius: 3px;
	line-height: 1;
}
.woocommerce div.product form.cart .reset_variations:hover {
	background-color: #A7A9AC;
	color: #FFFFFF;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;	
}
.related.products,
.upsells.products {
	clear: both;
}

/* ------- Tabs ------- */
.woocommerce-tabs {
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background: #F1F1F1;
	padding: 4px 20px 0px;
	border-radius: 0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color: #313131;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border-bottom: 1px solid #E5E5E5;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:last-of-type {
	border-bottom: 1px solid #FFFFFF;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
	box-shadow: none;
	border-width: 0px;
}
.woocommerce div.product .woocommerce-tabs .panel h2 {
	font-size: 18px;
	margin-bottom: 12px;
}
.woocommerce table.shop_attributes th {
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.woocommerce table.shop_attributes td p,
.woocommerce table.shop_attributes td {
	font-style: normal;
}

/* ------- Reivews ------- */
.woocommerce #reviews #comments ol.commentlist {
	margin-top: 25px;
}
.woocommerce #reviews #comments ol.commentlist li {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 0px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border: 0px;
	padding: 0 0 5px 30px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	border: 0px;
	background: none;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	margin: 0;
	padding: 15px 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
	text-transform: uppercase;
	font-weight: 400;
	color: #313131;
	font-size: 13px;
	letter-spacing: 1px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time {
	color: #808080;
	font-size: 13px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	margin-bottom: 20px;
	padding: 0;
}

/* ------- Review Form ------- */
.woocommerce #reviews h3 {
	font-size: 16px;
	margin-bottom: 12px;
}
.woocommerce #reviews h3.comment-reply-title {
	font-size: 15px;
}
.woocommerce #review_form #respond p {
	margin: 0;
}
.woocommerce #review_form #respond p.comment-notes {
	margin-bottom: 15px;
}
.woocommerce #review_form #respond .comment-form-rating {
	margin: 10px 0;
}
.woocommerce .comment-respond label {
	display: none;
}
.woocommerce #reviews .comment-form input { 
	padding: 15px;
	line-height: 30px;
}
.woocommerce #review_form #respond textarea {
	float: right;
	width: 50%;
	height: 202px;
	text-transform: uppercase;
}
.logged-in.woocommerce #review_form #respond textarea {
	width: 100%;
	height: 150px;
}
.woocommerce #review_form #respond .form-submit {
	float: left;
	width: 47%;
	border-radius: 0;
	padding: 5px;
	margin: -73px 0 0 0;
}
.logged-in.woocommerce #review_form #respond .form-submit {
	margin: 0;
}
.woocommerce .juliet-full-width #review_form #respond .form-submit {
	width: 47.7%;
}
.woocommerce #review_form #respond .form-submit input {
	font-weight: 400;
	font-size: 12px;
	text-align: left;
    padding: 22px;
    background: #EFECEA;
    width: 100%;
    border-radius: 0px;
}
.woocommerce #review_form #respond .form-submit input:hover {
	background: #A7A9AC;
	color: #FFFFFF;
}
/*IE Styles*/
_:-ms-fullscreen, :root .woocommerce #reviews .comment-form input { 
	padding: 23px 15px;
	line-height: 2px;
}

/* ------- Cart Page ------- */
.woocommerce table.shop_table {
	border-radius: 0px;
	border-left: 0px;
	border-bottom: 0px;
	margin: 0 0 30px 0;
}
.woocommerce table.shop_table td {
	border-top: 0px;
}
.woocommerce table.shop_table th {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 7px 14px;
}
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tfoot td,
.woocommerce-cart .cart-collaterals .cart_totals tr td {
	border-top: 0px;
}
.juliet-page-content .woocommerce table.shop_table tbody:first-child tr:first-child th,
.juliet-page-content .woocommerce table.shop_table tbody:first-child tr:first-child td   {
	border-bottom: 0px;
}
.woocommerce-cart  .juliet-page-content .woocommerce .cart-collaterals .cart_totals table.shop_table tbody:first-child tr:first-child td,
.juliet-page-content .woocommerce table.shop_table.customer_details tbody:first-child tr:first-child td,
.juliet-page-content .woocommerce table.shop_table.customer_details tbody:first-child tr:first-child th {
	border-bottom: 1px solid #E5E5E5;
}	
.woocommerce-cart .cart-collaterals .cart_totals table {
	border-left: 1px solid #E5E5E5;
}
.woocommerce table.shop_table .product-name a {
	color: #313131;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 100px;
}
.cart_totals h2,
.cross-sells h2 {
	font-size: 19px;
	padding-left: 2px;
}
.woocommerce-cart.woocommerce-page .juliet-post-footer,
.woocommerce-checkout.woocommerce-page .juliet-post-footer,
.woocommerce-account.woocommerce-page .juliet-post-footer {
	display: none;
}
.woocommerce td.product-name dl.variation dt {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.woocommerce td.product-name dl.variation dd {
	margin: -3.8px 0 0 3px;
}

/* ------- Checkout Page ------- */
.woocommerce-info a,
.wc-terms-and-conditions a {
	color: #AF3833;
}
.woocommerce-checkout.woocommerce-page input {
	padding: 7px;
}
.woocommerce-checkout #order_comments {
	padding: 10px 14px 14px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
	margin-bottom: 20px;
}
.cart-subtotal .woocommerce-Price-amount, 
.tax-rate .woocommerce-Price-amount,
.order-total .woocommerce-Price-amount {
	color: #313131;
}
.woocommerce form.checkout_coupon  .form-row-last {
	width: 50%;
	margin-top: 2px;
}
.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register {
	border-radius: 0px;
	border-color: #E5E5E5;
}
.woocommerce .wc-proceed-to-checkout .checkout-button {
	width: 89%;
}
.juliet-full-width .woocommerce .wc-proceed-to-checkout .checkout-button {
	width: 93%;
}
.woocommerce-checkout h3 {
	font-size: 19px;
}

/* ------- Account Page ------- */
.woocommerce form.login {
	border-radius: 0px;
	border-color: #E5E5E5;
	margin: 0px 0px 30px;
}
.woocommerce form.login label {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.woocommerce form.login .form-row label.inline {
	display: block;
}
.woocommerce form.login input[type="checkbox"] {
	margin-top:20px;
	padding: 0;
}
.woocommerce-LostPassword {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	padding-left: 5px;
}
.woocommerce-LostPassword a {
	color: #808080;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 24%;
}
.woocommerce-MyAccount-navigation ul {
	padding: 10px 0;
}
.woocommerce-MyAccount-navigation ul li {
	border-top: 1px solid #E5E5E5;
	margin: 0;
	padding: 8px 0;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
}
.woocommerce-MyAccount-navigation ul li a {
	color: #808080;
}
.woocommerce-MyAccount-navigation ul li a:hover {
	color: #EFECEA;
}
.woocommerce-MyAccount-content {
	padding: 4px 20px;
}
.woocommerce .col2-set .col-1.woocommerce-Address,
.woocommerce .col2-set .col-2.woocommerce-Address {
	width: 100%;
	float: none;
}
.woocommerce-EditAccountForm {
	margin-top: -5px;
}
.woocommerce table.my_account_orders {
	font-weight: 400;
	font-size: 1em;
}

/* ------- Sidebar Widgets ------- */

/* -- Product Categories  & Layered Nav -- */
.woocommerce.widget_product_categories,
.woocommerce.widget_layered_nav {
	background: #EFECEA;
	padding: 0 30px 30px;
}
.woocommerce.widget_product_categories .widget-title,
.woocommerce.widget_layered_nav .widget-title {	
	background: #ffffff;
	padding: 15px 20px;
	margin: 0 0 15px;
}
.woocommerce.widget_layered_nav .widget-title span {
	line-height: 1.2;
}
.woocommerce .widget_layered_nav ul,
.woocommerce.widget_product_categories ul {
	margin-top: -3px;
}
.woocommerce .widget_layered_nav ul.children,
.woocommerce.widget_product_categories ul.children {
	margin-top: 0px;
}
.woocommerce.widget_product_categories li,
.woocommerce.widget_layered_nav ul li  {
	display: inline;
	line-height: 22px;
	padding: 8px 0;
	border-bottom: 1px solid #A7A9AC;
}
.woocommerce.widget_product_categories li:after,
.woocommerce.widget_layered_nav ul li:after {
	content: "\A";
	white-space: pre;
	display: block;
	height: 0px;
	width: 100%;
}
.woocommerce.widget_product_categories a,
.woocommerce.widget_layered_nav a,
.woocommerce.widget_layered_nav span {
	line-height: 32px;
	text-transform: uppercase;
}

/* -- Products -- */
.woocommerce.widget_products,
.woocommerce.widget_recent_reviews,
.woocommerce.widget_top_rated_products,
.woocommerce.widget_recently_viewed_products {
	border: 1px solid #E5E5E5;
}
.woocommerce.widget_products .widget-title,
.woocommerce.widget_recent_reviews .widget-title,
.woocommerce.widget_top_rated_products .widget-title,
.woocommerce.widget_recently_viewed_products .widget-title,
.woocommerce.widget_shopping_cart .widget-title {
	margin-top: 20px;
}
.woocommerce ul.product_list_widget li {
	padding: 30px 30px 18px;
	border-bottom: 1px solid #E5E5E5;
}
.woocommerce ul.product_list_widget li:first-of-type {
	margin-top: -25px;
}
.woocommerce ul.product_list_widget li:last-of-type {
	border-bottom: 0px;
}
.woocommerce ul.product_list_widget li img {
	width: 100%;
}
.woocommerce ul.product_list_widget li .product-title,
.woocommerce ul.cart_list li a, 
.woocommerce ul.product_list_widget li a {
	display: block;
	clear: both;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.3;
}
.woocommerce ul.product_list_widget li img {
	padding-bottom: 12px;
}
.woocommerce-Price-amount {
	font-size: .95em;
	color: #808080;
}
.woocommerce ul.product_list_widget li .star-rating {
	display: block;
	margin: 5px auto 1px;
}

/* -- Product Search -- */
.widget_product_search {
	margin-bottom: 25px;
}
.woocommerce.widget_product_search .widget-title {
	margin-bottom: 0px;
}
.woocommerce-product-search input {
	width: 77%;
	-webkit-appearance: none;
}
.woocommerce-product-search input[type="search"] {
	padding: 14px;
}	
.woocommerce-product-search input[type="submit"] {
	padding: 15px 10px;
	width: auto;
	color: #313131;
}
.woocommerce-product-search input[type="submit"]:hover {
	background: #A7A9AC;
	color: #FFFFFF;
}
.woocommerce-product-search input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/* -- Cart Widget -- */
.woocommerce .widget_shopping_cart,
.woocommerce-page .widget_shopping_cart {
	border: 1px solid #E5E5E5;
}
.woocommerce .widget_shopping_cart .cart_list li, 
.woocommerce.widget_shopping_cart .cart_list li {
	padding: 30px 30px 18px;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl {
	text-align:center;
	border-left: 0px;
	font-size: .95em;
	text-transform: uppercase;
	padding: 4px 0 3px 0;
	line-height: 1;
	color: #808080;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl dt,
.woocommerce .widget_shopping_cart ul.cart_list li dl dd {
	float: none;
	font-weight: 400;
	letter-spacing: .5px;
	margin: 0;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl dt p,
.woocommerce .widget_shopping_cart ul.cart_list li dl dd p {
	line-height: 1.2;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl dt {
	position: relative;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl dt:before {
	height: 4px;
	top: 5px;
	left: -11px;
	position: absolute;
	content: '\f111';
	font-family: FontAwesome;
	font-size: 4px;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl dt:first-of-type:before {
	display: none;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl dd {
	padding-bottom: 0;
	margin: 0 15px 0 0;
}
.woocommerce .widget_shopping_cart ul.cart_list li dl dd:last-of-type {
	margin: 0;
}
.mini_cart_item .quantity {
	color: #808080;
	font-size: .95em;
}
.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
	margin: 0 30px;
	border-top: 1px solid #313131;
	padding-top: 15px;
}
.woocommerce .widget_shopping_cart .total strong, 
.woocommerce.widget_shopping_cart .total strong {
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: .95em;
	letter-spacing: 1px;
}

/* -- Price Filter -- */
.woocommerce .widget_price_filter {
	padding: 20px 30px;
	border: 1px solid #E5E5E5;
}
.woocommerce .widget_price_filter .widget-title {
	margin: 0 0 30px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #EFECEA;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #E9C2B1;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #A7A9AC;
}
.woocommerce .widget_price_filter .price_slider_amount {
	line-height: 1;
}
.woocommerce .widget_price_filter .price_label {
	text-transform: uppercase;
	color: #808080;
	display: inline-block;
	margin-top: 3px;
}

/* -- Average Rating Filter -- */
.woocommerce .widget_rating_filter {
	border: 1px solid #E5E5E5;
	padding: 20px 0;
}
.woocommerce .widget_rating_filter ul li:first-of-type {
	margin: 0;
}

/* -- Active Filters -- */
.woocommerce.widget_layered_nav_filters {
 	border: 1px solid #E5E5E5;
 	padding: 20px;
 }
.woocommerce.widget_layered_nav_filters ul li:first-of-type {
	margin: 0;
}
.woocommerce .widget_layered_nav_filters ul li {
	float: none;
	margin: 3px 0;
	display: block;
}
.woocommerce .widget_layered_nav ul li.chosen a:before, 
.woocommerce .widget_layered_nav_filters ul li a:before {
	color: #AF3833;
}

/* -- Tags -- */
.woocommerce.widget_product_tag_cloud {
	border: 1px solid #E5E5E5;
	padding: 20px 30px;
}

/* ------------------------------- 12.2 Contact Form 7 ------------------------------- */
div.wpcf7 {
	margin: 0 0 20px 0;
	font-size: 12px;
	text-align: left;
	font-family: 'Raleway';
	letter-spacing: 1px;
	overflow: hidden;
}
.wpcf7 p {
	text-transform: uppercase;
	color: #313131;
}
.wpcf7 p:last-of-type {
	margin-bottom: 5px;
}
.wpcf7 input {
	padding: 14px;
	border: 1px solid #E5E5E5;
	width: 50%;
	margin-top: 3px;
	font-size: 12px;
	line-height: 1.2;
}
.wpcf7 textarea {
	width: 90%;
	border: 1px solid #E5E5E5;
	margin-top: 3px;
	font-size: 12px;
	line-height: 1.2;
}
.wpcf7 input[type="submit"] {
	width: 97%;
	background-color: #EFECEA;
	color: #313131;
	border: none;
	padding: 14px;
	margin: 5px;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-appearance: none;
}
.juliet-full-width .wpcf7 input[type="submit"] {
	width: 98%;
}
.wpcf7-submit-border {
	display: block;
	height: 52px;
	width: 50%;
	border: 1px solid #E5E5E5;
}
.wpcf7 input[type="submit"]:hover {
	background: #A7A9AC;
	color: #FFFFFF;
	cursor: pointer;
}
div.wpcf7 img.ajax-loader {
	display: block;
}
div.wpcf7-response-output {
	margin: 30px 0 20px 0;
	padding: 10px;
	width: 87%;
	letter-spacing: 1px;
	font-weight: 400;
	clear: both;
}
.wpcf7 input.wpcf7-not-valid {
	border: 1px solid #f00;
}

/* -- Theme Custom Contact Form 7 Form -- */
.wpcf7 .juliet-custom-wpcf7 p {
	display: inline;
}
.juliet-custom-wpcf7 input, .juliet-custom-wpcf7 textarea {
	text-transform: uppercase;
}
.juliet-custom-wpcf7 input {
	padding: 25px;
}
.juliet-custom-wpcf7 textarea {
	float: right;
	width: 49.2%;
	max-width: 49.2%;
	height: 139px !important;
	margin: 3px 0;
}
.juliet-custom-wpcf7 .wpcf7-submit-border {
	display: inline-block;
	float: right;
	height: 65px;
	width: 49%;
	border: 1px solid #E5E5E5;
	margin: -69px 0 0 0;
}
.wpcf7 .juliet-custom-wpcf7 input[type="submit"] {
	padding: 20px;
}
.wpcf7-form.invalid .juliet-custom-wpcf7 .wpcf7-submit-border {
	margin: -20px 0 0 0;
}


/* ------------------------------- 12.3 MailChimp for WordPress ------------------------------- */
.widget_mc4wp_form_widget {
	padding: 0px 30px 20px;
	background: #EFECEA;
}
.widget_mc4wp_form_widget .widget-title {
	padding: 15px 20px;
	background: #FFFFFF;
}
.mc4wp-form input {
	border: none;
	padding: 14px;
	font-size: 14px;
	width: 100%;
}
p.mc4wp-submit-border {
	margin-bottom: 0px;
}
.widget_mc4wp_form_widget a {
	color: #E9C2B1;
}
.mc4wp-form input[type="submit"] {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #313131;
	color: #FFFFFF;
	padding: 14px;
	border: 0px;
	margin: 0px;
	-webkit-appearance: none;
}
.mc4wp-form input[type="submit"]:hover {
	background: #A7A9AC;
	color: #FFFFFF;
	cursor: pointer;
}
.mc4wp-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-transform: uppercase;
	padding-left: 5px;
}
.mc4wp-form ::-moz-placeholder { /* Firefox 19+ */
 	text-transform: uppercase;
	padding-left: 5px;
}
.mc4wp-form :-ms-input-placeholder { /* IE 10+ */
  	text-transform: uppercase;
	padding-left: 5px;
}
.mc4wp-form :-moz-placeholder { /* Firefox 18- */
 	text-transform: uppercase;
	padding-left: 5px;
}
.mc4wp-response {
	margin: 10px 0;
}
.mc4wp-success {
	color: #398f14;
}
.mc4wp-error p {
	margin-bottom: 10px;
	color: #cabd00;
}

/* Mailchimp comments */
#respond .mc4wp-checkbox-comment_form label {
	width:auto;
}
#respond #mc4wp-checkbox input {
	margin-bottom:0;
}


/* ------------------------------- 12.4 bxSlider ------------------------------- */
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
	position: relative;
	margin: 0 auto 0px;
	padding: 0;
	*zoom: 1;
	-ms-touch-action: pan-y;
  	touch-action: pan-y;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.juliet-post-content ul.bxslider {
	padding: 0;
	margin: 0;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
	left: 0;
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}
.gallery .bx-wrapper .bx-viewport {
	box-shadow: none;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

/* -- LOADER -- */
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(css/images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* -- PAGER -- */
.bx-wrapper .bx-pager {
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding: 20px 0 0 30px;
	max-width:85%;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #ffffff;
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 6px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: grey;
}

/* -- DIRECTION CONTROLS (NEXT / PREV) -- */
.bx-wrapper .bx-prev {
	left: 22px;
}
.bx-wrapper .bx-next {
	right: 22px;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	color:#fff;
	outline: 0;
	z-index: 999;
	height:35px;
	width:35px;
	font-size:35px;
	line-height:35px;
	text-align:center;
	border-radius:50%;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	opacity:0;
}
.bx-wrapper:hover .bx-controls-direction a {
	opacity:1;
}

/* -- In Sidebar -- */
#juliet-sidebar .bx-wrapper .bx-controls-direction a {
	font-size: 30px;
	margin-top: -20px;
	color: #EFECEA;
}
#juliet-sidebar .bx-wrapper .bx-prev {
	left: 3px;
}
#juliet-sidebar .bx-wrapper .bx-next {
	right: 3px;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
	text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* -- PAGER WITH AUTO-CONTROLS HYBRID LAYOUT -- */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* -- IMAGE CAPTIONS -- */
.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}
.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
/* ------------------------------- END Styling of External Plugins ------------------------------- */